.forgot-area{
    min-height: 30.125rem;
    margin: 4.1rem auto;
    width: 75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.form{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.container-fluid{
    min-height: 30rem !important;
    background-color: #fff;
}

.title{
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}
.form-header{
    height: 10%;
    width: 100%;
    margin-top: 0px;
}

.form-title{
    display: flex !important;
}

.fa-arrow-left{
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-size: 1.5em !important;
}

.tel-phone, .otp-field{
    width: 80%;
    height: 35px;
    margin: auto;
    border-radius: .25rem;
    border: .25px solid ;
    border-color: #ccc;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding-left: 1rem;
}

.otp-field{
    margin-top: 20px;
}


.btn-otp{
    height: 35px;
    width: 85px;
    background-color: #dca73a;
    border-radius: 5px;
    border: medium none;
    color: white;
    float: right;
}

.btn-continous {
    display: block;
    margin: 60px auto;
    height: 35px;
    width: 120px;
    background-color: #dca73a;
    border-radius: 5px;
    border: medium none;
    color: white;
}

.reset-password{
    width: 100%;
    height: 35px;
    margin: 10px auto;
    border-radius: .25rem;
    border: .25px solid ;
    border-color: #ccc;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding-left: 1rem;
}

.icon{
    margin: auto 0px;
    color: #000000;
}




