.container-fluid{
    background-color: #f8f9fa!important;
    padding: 50px 0;
}



.content{
    padding: 20px 0px;
}

.li-1{
    list-style-type: square !important;
}

.content li{
    font-family:  sans-serif;
    list-style-type: circle;
    margin-left: 15px;
}
.nav-link{
    cursor: pointer;
}
.tab-content .tab-pane{
    padding-top: 20px;
}
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #dca73a;
    border-color: #DDDDDD;
}

.instruction-item p{
    white-space: pre-line;
    word-wrap: break-word;
}
