.loading-hidden-screen{
    overflow: hidden!important;
}
#preloader-active .preloader,
#preloader-register-social .preloader
{
    opacity: 1;
}
.msg-notification{
    padding: 12px 0;
    min-height: 48px;
}
.msg-notification span{
    font-size: 12px;
    color: #ecba02;
}
button:disabled,
button[disabled]{
    background-color: #EEE5DE;
    color: black;
}
input[type=date]::-webkit-clear-button, /* blue cross */
input[type=date]::-webkit-inner-spin-button, /* up */
input[type=date]::-webkit-outer-spin-button /* down */
 /* datepicker*/ {
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator{
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
}
.radio-container{
    display: inline-block;
    position:relative;
    cursor:pointer;
    font-size:16px;
    user-select: none;
    padding-left:30px;
    margin-bottom:10px;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background:#eee;
    border-radius:50%;
}
.radio-container:hover .checkmark{
    background:#ccc;
}
.checkmark:after{
    content:"";
    position:absolute;
    display:none;
}
.radio-container .checkmark:after{
    top:50%;
    left:50%;
    width: 15px;
    height: 15px;
    border-radius:50%;
    border: solid 3px white;
    transform:translate(-50%,-50%) rotate(45deg);
}
.radio-container input:checked ~ .checkmark{
    background:#2196F3;
}
.radio-container input:checked ~ .checkmark:after{
    display:block;
}
.overflow-dots{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ti-user-header{
    max-width: 175px;
    height: 22px;
}
.display-name{
    max-width: 220px;
}

button{
    font-family:  sans-serif;
    cursor: pointer;
}
label{
    font-family:  sans-serif;
}
input, h3, a, span, b, li, h1{
    font-family:  sans-serif!important;
}
p{
    font-family: sans-serif!important;
    font-size: inherit;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.status-hide{
    background-color: aquamarine;
    color: #d24545;
    width: fit-content;
    margin: auto;
    padding: 2px 10px;
}
.status-show{
    background-color: aquamarine;
    color: #0056b3;
    width: fit-content;
    margin: auto;
    padding: 2px 10px;
}
.single-room .room-img{
    overflow: hidden;
    height: 250px;
    background-color: beige;
    line-height: 382px;
}

.button-post{
    background-color: #dc3545;
    color: white;
    /* margin: 0px 0px; */
    margin-right: 20px;
    min-width: 120px;
    height: 45px;
    padding: 6px 10px 5px 10px;
    border: 1px solid #dc3545;
    border-radius: 5px;
    cursor: pointer;
}

.button-post:hover{
    background: #dca73a ;
    border-color: #dca73a;
}
.pdr-40px{
    padding-right: 40px!important;
}
main{
    min-height: 300px;
    background-color: #f8f9fa;
}
#confirm-modal, #message-modal{
    z-index: 9999999!important;
}
.message-success-container{
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
}
.pointer-disabled-only {
    pointer-events: none;
}
.pointer-enable {
    cursor: pointer;
}
.table td, .table th {
    vertical-align: middle!important;
}
.bell-container{
    padding-left: 10px;
}
.fa-bell{
    font-size: 25px;
    color: #2B96CC;
    cursor: pointer;
}
.notification-number{
    position: absolute;
    right: -3px;
    top: -6px;
    font-size: 12px;
    color: white;
    background-color: #dc3545;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.notification-container{
    position: absolute;
    min-width: 450px;
    background: #fff;
    right: -7px;
    top: 150%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.notification-header{
    padding: 8px 0 8px 15px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #e9ecef;
}
.notification-body ul.notification-list>li{
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9ecef;
}
.notification-body ul.notification-list>li a{
    color: #262626;
    font-weight: 400;
    display: block;
    font-size: 16px;
    position: relative;
    padding: 0!important;
    line-height: 1.4;
}
.notification-body ul.notification-list>li:hover{
    background-color: lightgray;
}
.notification-body ul.notification-list>li a:hover{
    color: black!important;
}
.fa-caret-up{
    position: absolute;
    font-size: 40px;
    right: -2px;
    color: white;
    line-height: 0;
    top: 38px;
    pointer-events: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    z-index: 10;
}
.bell-wrapper{
    cursor: pointer;
}
.notify-date{
    padding-left: 15px;
    font-size: 12px;
}
.notify-content{
    padding: 10px 15px 5px 15px;
}
.seen-notification{
    background-color: #edf2fa;
}
.no-notification{
    margin: 15px 0;
    text-align: center;
}
.logo img{
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer-logo img{
    width: 100px;
}
.none-data-message{
    margin: auto;
    padding-bottom: 50px;
}