.loading-hidden-screen{
    overflow: hidden!important;
}
#preloader-active .preloader,
#preloader-register-social .preloader
{
    opacity: 1;
}
.msg-notification{
    padding: 12px 0;
}
.msg-notification span{
    font-size: 12px;
    color: #ecba02;
}
button:disabled,
button[disabled]{
    background-color: #EEE5DE;
    color: black;
}
input[type=date]::-webkit-clear-button, /* blue cross */
input[type=date]::-webkit-inner-spin-button, /* up */
input[type=date]::-webkit-outer-spin-button /* down */
 /* datepicker*/ {
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator{
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
}
.radio-container{
    display: inline-block;
    position:relative;
    cursor:pointer;
    font-size:16px;
    user-select: none;
    padding-left:30px;
    margin-bottom:10px;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background:#eee;
    border-radius:50%;
}
.radio-container:hover .checkmark{
    background:#ccc;
}
.checkmark:after{
    content:"";
    position:absolute;
    display:none;
}
.radio-container .checkmark:after{
    top:50%;
    left:50%;
    width: 15px;
    height: 15px;
    border-radius:50%;
    border: solid 3px white;
    transform:translate(-50%,-50%) rotate(45deg);
}
.radio-container input:checked ~ .checkmark{
    background:#2196F3;
}
.radio-container input:checked ~ .checkmark:after{
    display:block;
}
.overflow-dots{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ti-user-header{
    max-width: 175px;
    height: 22px;
}
.display-name{
    max-width: 220px;
}

button{
    font-family:  sans-serif;
    cursor: pointer;
}
label{
    font-family:  sans-serif;
}
input, h3, a, span, b, li, h1{
    font-family:  sans-serif!important;
}
p{
    font-family: sans-serif!important;
    font-size: inherit;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.status-hide{
    background-color: aquamarine;
    color: #c17e7e;
}
.status-show{
    background-color: aquamarine;
    color: #0056b3;
}
.single-room .room-img{
    overflow: hidden;
    height: 382px;
    background-color: beige;
    line-height: 382px;
}

.button-post{
    background-color: #dc3545;
    color: white;
    /* margin: 0px 0px; */
    margin-right: 20px;
    min-width: 120px;
    height: 45px;
    padding: 6px 10px 5px 10px;
    border: 1px solid #dc3545;
    border-radius: 5px;
    cursor: pointer;
}

.button-post:hover{
    background: #dca73a ;
    border-color: #dca73a;
}
.pdr-40px{
    padding-right: 40px!important;
}
main{
    min-height: 300px;
    background-color: #f8f9fa;
}
#confirm-modal, #message-modal{
    z-index: 9999999!important;
}
.message-success-container{
    width: fit-content;
    margin: auto;
}
