

#login-form .login-title{
    margin-bottom: 30px !important;

}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://daihoc.fpt.edu.vn/media/2018/01/F1-2.png');
    background-size: cover;
    background-position: center center;
}

.display-4 {
    text-align: center;
    margin-bottom: 70px !important;
    font-family: sans-serif;
    font-size: 2.5em !important;
    font-weight: 400;
}

.mt-4 {
    margin-bottom: 1.5rem !important;
}

.btn-fb {
    background-color: #4267b2 !important;
    padding: 0;
    height: 50px;
}

.btn-gm {
    background-color: #3ac55f !important;
    padding: 0;
    height: 50px;
}

.btn-fb img{
    width: 20px;
    padding-bottom: 5px;
}

.btn-gm img{
    width: 20px;
    padding-bottom: 5px;
}
.btn-login{
    width: 45% !important;
    display: block !important;
    margin: auto !important;
}