

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-bottom: 100px;

}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -.5rem -1rem -1rem auto !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px !important;
    background-color: white !important;

}
.modal-header h2{
    margin: 10px 0px;
    float: left !important;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif !important;
    color: black !important;
}

.modal-body {
    padding: 10px 16px 10px 16px !important;
}

.modal-footer {
    padding: 2px 16px !important;
    background-color: white !important;
}

.btn-default{
    margin: 10px 0px;
    border: 1px solid #dca73a;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dca73a;
    color: white;
    height: 34px;
}

textarea{
    width: 100%;
    height: 30vh;
    font-family:  sans-serif;
}

.message{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.message-confirm{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.view-information{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.fa-check{
    font-size: 50px;
    color: #dca73a;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #dca73a;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 145px;

}

.message-update{
    font-size: 20px;
    font-family:  sans-serif;
}

.modal-body label{
    margin-top: .5rem;
    font-size: 18px;
}

.btn-default-cancel{
    margin: 0px 10px;
    border: 1px solid #dca73a;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dca73a;
    color: white;
    width: 90px;
    height: 35px;
}

.group-btn{
    margin: 10px 0 10px 0px;
}

.infor-modal{
    display: flex;
    margin: 11px 40px;
}

.infor-modal-table{
    display: block;
    margin: 11px 40px;
}

.left-modal{
    font-family:  sans-serif;
    width: 40%;
    color: black;
    font-size: 16px;
}

.right-modal{
    font-family:sans-serif;
    width: 70%;
    border-radius: 6px;
    border: .5px solid;
    height: 34px;
    padding-left: 10px;
    margin-top: 0px !important;
}
#my-modal-notification{
    z-index: 999999!important;
}
.notification-content{
    margin: 10px 0;
    line-height: 30px;
}