.pagination-centered {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.pagination{
  justify-content: center !important;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
    background-color: #dca73a!important;
}

.page-link{
    color: black !important;
    background-color: unset;
}

.page-link-container{
    background-color: #ffffff;
}

.page-link:hover{
    color: white !important;
    background-color: #dca73a !important;
}

