@font-face {font-family: "flexslider-icon"; src: url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.eot"); src: url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.woff") format("woff"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.svg#flexslider-icon") format("svg"); }

.main-content{
    width: 60%;
    margin: 30px auto;
}

.contact{
    border: 1px solid #dca73a;
    margin: 20px auto;
    width: 85%;
    height: auto;
}

.contact h3{
    text-align: center;
    margin: 10px auto;
}
.font-weight-bold-contact{
    margin: 10px auto;
    font-weight: 700;
    text-align: center;
}


.btn-report{
    color: white;
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 35px;
}

.btn-share-fb{
    color: white;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    margin-left: 30px;
}

.row .col{
    margin: 10px auto;
}

.icon-post-detail{
    width: 6%;
}

.description-information{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    border-bottom: 1px solid #dca73a;
}

.room-number{
    margin: 20px 18px;
    display: flex;
}
.select-room{
    width: auto;
    border-radius: 2px;
    border: .5px solid #CFCFCF;
    text-align: center;
    padding: 2px 15px;
    cursor: pointer;
    margin-bottom: 3px;
    float: left;
}


.choose-room{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.title-room{
    width: 25%;
}

.start-date{
    font-size: 16px !important;
    padding-top: 5px;
    width: 120px;
}

.font-weight-normal{
    font-size: 16px !important;
    padding-top: 5px;
}

select{
    display: block !important;
    width: 170px;
    height: auto;
    margin: auto 28px;
    border: 1px solid #dca73a;
    border-radius: 2px;
    color: #1C1C1C;
}

.room-number input{
    display: block !important;
    width: 70%;
    height: auto;
    border: 1px solid #dca73a;
    border-radius: 2px;
    color: #1C1C1C;
}

.nice-select{
    display: none !important;
}

.btn-danger{
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0px;
}

.sent-request{
    margin: 20px 20px;
}
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 0.5s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    background: #d8d8d8;
    height: 500px;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-right: 0px;
    float: left;
    display: block;
}

.flexslider .slides img {
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    -moz-user-select: none;
    width: 100%;
    display: block;
}

.flexslider .slides img {
    height: fit-content!important;
}

main{
    background-color: #ddd;
}

.main-content{
    width: 90%;
    height: auto;
    margin: 0px auto;
    max-width: 100%;
    background-color: #f8f9fa;
    padding-bottom: 30px;
}

.col-left {
    float: left;
    width: 62%;
    padding-right: 0;
    padding-left: 100px;
    margin-top: 30px;
}

.col-right {
    float: right;
    width: 30%;
    padding-left: 20px;
    margin-top: 34px;
}

.wish-list{
    margin-bottom:20px;
    margin-right: 15px;
}

.btn-save{
    float: right;
    border: 1px solid #ddd;
    border-radius: 30px;
    height: 30px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-left: 3px;
    color: black;
}

.btn-save img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.title{
    font-size: 1.1rem;
    font-weight: 700;
    color: #B32626;
    margin: 0;
    text-transform: uppercase;
}

.overview{
    margin-bottom: 30px;
    margin-top: 20px;
}

.title-name{
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.title-name span{
    font-weight: 700;
    font-size: .9rem;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.item{
    width: 50%;
    float: left;
    margin-bottom: 15px;
}

.item-name{
    font-weight: 500;
    font-size: 16px;
}

.item-value{
    font-weight: 700;
    font-size: .9rem;
}

.subtext{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: .95rem;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #333;
    border-bottom: 0;
}

.fas{
    padding-right: 5px;
}

.map{
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 13px;
}

.sub-item{
    width: 33%;
    float: left;
    margin-bottom: 15px;
}


.btn-share-fb img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.service{
    border-bottom: 1px solid #ddd;
    margin: 13px 0px;
}

.share{
    border-bottom: 1px solid #ddd;
    margin: 13px 0px;
}

.btn-report img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.report-area{
    background: #fef4d4;
    border: 1px solid #fff3cd;
    padding: 15px;
}

.display-avatar img{
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.display{
    display: flex;
    border: 1px solid #ddd;
}

.display-name{
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-value{
    color: #055699;
    display: block;
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 10px;
}

.date-value{
    color: #999;
    font-size: .8rem;
    margin-bottom: 10px;
}

.information-header{
    border-bottom: 1px solid #ddd;
}

.header-news{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.header-news span{
    font-weight: 700;
    font-size: .9rem;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.post-link{
    white-space: normal;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 8px;
    color: #333;
    font-size: .95rem;
    display: flex;
    cursor: pointer;
}

.thumb{
    width: 80px;
    height: 70px;
    margin-top: 5px;
    margin-right: 10px;
    background: #f1f1f1;
    position: relative;
}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0;
    background-color: #eee;
    opacity: 1;
}

.infor{
    flex: 1;
    align-items: center;
}

.price{
    margin: 5px 0 0;
    float: left;
}

.price span{
    color: #e41b23;
    font-weight: 700;
    font-size: .9rem;
}
.list-news{
    margin-left: 10px;
}

.ads-left{
    background: rgb(241, 241, 241);
    position: fixed;
    width: 120px;
    height: 300px;
    top: 135px;
    display: block;
    z-index: 99;
    left: 120px;
}

.ads-left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.ads-right{
    background: rgb(241, 241, 241);
    position: fixed;
    width: 120px;
    height: 300px;
    top: 135px;
    display: block;
    z-index: 99;
    right: 120px;
}

.ads-right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.invisible {
    display: none;
}

.disable{
    background-color: #dddddd;
    cursor: unset;
}
.selected{
    background-color: #dca73a;
}
.slide-image-container{
    display: flex!important;
}