@font-face {font-family: "flexslider-icon"; src: url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.eot"); src: url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.woff") format("woff"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2c6d794b5cfbe2958da38a4c6aeddde9.svg#flexslider-icon") format("svg"); }

.main-content{
    width: 60%;
    margin: 30px auto;
}

.description{
    width: 100%;
    height: auto;

}

.sidebar-left-image{
    width: 70%;
}

.sidebar-right-information{
    width: 30%;
}

.information{
    width: 100%;
    height: auto;
    margin-left: 20px ;
    border-bottom:1px solid #dca73a;
    display: flex;
}

.icon-information{
    width: 20%;
    height: auto;
    margin: 10px 10px;
}

.name-landlord{
    width: 80%;
    height: auto;
}

.name-landlord label{
    color: black;
}
.contact{
    border: 1px solid #dca73a;
    margin: 40px 20px;
    width: 100%;
    height: auto;
}

.contact h3{
    text-align: center;
    margin: 10px auto;
}
.font-weight-bold-contact{
    margin: 10px auto;
    font-weight: 700;
    text-align: center;
}


.phonenumber{
    display: block;
    margin: auto 5px;
    font-size: 16px;
    font-weight: 400;
    color: white !important;
    cursor: default;
}

.description-report{
    font-style: italic;
    margin-bottom: 7px;
}

.btn-report{
    color: white;
    background-color: #f11414c4;
    border: 1px solid #f11414c4;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.btn-share-fb{
    color: white;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.avatar-information{
    width: 100%;
    height: 100%;
}

.icon-heart{
    display: block !important;
    margin: 25% 37px !important;
    position: static !important;

}
.full{
    display: block !important;
    margin: 25% 37px !important;
    position: static !important;
    color: #ff3737;
}
.full:hover{
    transform: scale(1.1);
    -webkit-transition: transform 0.5s ease-in-out;
}

.title {
    width: 100%;
    height: auto;
    display: flex;
}
.title-right {
    width: 15%;
    height: auto;
}

.title-left {
    width: 85%;
}
.title-left h3{
    font-weight: bold;
    font-size: 19px;
    font-family: sans-serif;
    height: auto;
    margin: 15px 0px;
}

.row .col{
    margin: 10px auto;
}

.icon-post-detail{
    width: 10%;
}

.description-information{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    border-bottom: 1px solid #dca73a;
}

.room-number{
    margin: 20px 18px;
    display: flex;
}
.select-room{
    width: 100px !important;
}

.font-weight-normal{
    font-size: 16px !important;
    padding-top: 5px;
}

select{
    display: block !important;
    width: 170px;
    height: auto;
    margin: auto 28px;
    border: 1px solid #dca73a;
    border-radius: 2px;
    color: #1C1C1C;
}

.room-number input{
    display: block !important;
    width: 170px;
    height: auto;
    margin: auto 20px;
    border: 1px solid #dca73a;
    border-radius: 2px;
    color: #1C1C1C;
}

.report{
    margin-top: 30px;
}

.nice-select{
    display: none !important;
}

.btn-danger{
    display: block;
    width: 100%;
    height: 40px;
    margin: 40px 20px;
}

.sent-request{
    margin: 20px 20px;
}
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 0.5s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    background: #d8d8d8;
    height: 500px;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-right: 0px;
    float: left;
    display: block;
}

.flexslider .slides img {
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    -moz-user-select: none;
    width: 100%;
    display: block;
}

.flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -65px;
    text-align: center;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 22px;
    display: flex;
    content: "\f001";
    color: white;
    text-shadow: 1px 1px 0 rgba(255,255,255,.3);
    height: 100%;
    align-items: center;
    justify-content: center;
}

.flex-direction-nav a.flex-next:before {
    content: '\f002';
}
.flex-direction-nav .flex-prev {
    left: 10px;
}
.flex-direction-nav .flex-next {
    right: 10px;
    text-align: right;
}
