
.container-fluid{
    margin-top: 30px !important;
    margin-bottom: 50px !important;
}

.fill-information{
    width: 100%;
    height: auto;
    margin: 20px 0px;

}

.title h4{
    font-family: "Lato", sans-serif;
}

select{
    display: block !important;
    width: 200px;
    height: 35px;
    font-family: "Lato", sans-serif;
    border: 1px solid #aaa;
}

.nice-select{
    display: none !important;
}

.form-input-information{
    width: 50% ;
    font-family: "Lato", sans-serif;
    font-size: inherit;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.form-input-title-information{
    width: 100% ;
    font-family: "Lato", sans-serif;
    font-size: inherit;
    border: 1px solid #aaa;
    border-radius: 2px;
}

textarea{
    width: 80%;
    border: 1px solid #aaa;
}

.upload-file{
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 1px dashed #aaa;
}

.upload-image{
    width: 100px;
    margin: 20px auto;
    cursor: copy;
    display: block;
}

.table-price{
    width: 50%;
    height: auto;
}

.btn-hover:hover{
    background: #f1b233;
    color: #fff;
}

.btn-complete{
    width:20%;
    height: 50px;
    background: #dca73a;
    display: block;
    margin: 50px auto;
    border: medium none;
    border-radius: 3px;
    color: white;
}

.note{
    width: 18%;
    height: auto;
    top: 180px;
    left: 1533px;
    float: right;
    position: fixed;
    background-color: #fff3cd;
}

.note-body{
    padding: 1.25rem;
}
.note-body h4{
    margin-bottom: .75rem;
}

.note-body li{
    font-family: "Lato", sans-serif;
    list-style-type: circle;
    margin-left: 15px;
}