.profile-avatar{
    font-size: 8em !important;
    margin: 20px auto !important;
    color: #0c5460 !important;
}
.sidebar-left{
    font-family: "Lato", sans-serif;
    height: 100%;
    border: 0.001px solid #CFCFCF;
}

.sidebar-right{
    height: 100%;
    width: 100%;
}

.avatar{
    width: 100%;
    height: 35%;
    margin-top: 30px;
    display: grid;
    justify-items: center; /* Căn giữa chiều ngang */
    align-content: center;
}

.information{
    width: 100%;
    height: 65%;
    display: block;
    padding-top: 10px;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-information{
    width: 70%;
    height: 40px;
    display: block;
    margin: 3px auto;
    border: 0px solid black;
    background-color: #EEE5DE;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}
.active, .button-information:hover{
    color: white;
    background-color: #dca73a;
}

.display-name{
    font-family: "Lato", sans-serif;
    color: black;
    font-size: 20px;
}

.title{
    width: 100%;
    display: grid;
    align-content: center;
}

.title-name{
    font-size: 30px !important;
    margin: 10px auto !important;
    font-weight: bold !important;
}

.container-fluid{
    margin-top: 70px;
    margin-bottom: 70px;
}

.detail{
    margin-top: 50px;
    display: flex;
}

.detail-2{
    margin-top: 10px;
    display: flex;
}

.textfiled{
    width: 60%;
    border-radius: 6px;
    border: .5px solid;
    height: 30px;
    padding-left: 10px;
    background-color: white;
}
.label{
    width: 20%;
    color: black;
}

.detail-3{
    width: 80%;
}

.save{
    width: 20%;
    height: 40px;
    margin-top: 50px;
    float: right;
    color: white;
    border: .25px solid #dca73a;
    border-radius: 3px;
    background-color: #dca73a;
    cursor: pointer;
}
.change{
    width: 15%;
    height: 30px;
    display: block;
    margin: 0px auto;
    color: white;
    border: .25px solid #dca73a;
    border-radius: 3px;
    background-color: #dca73a;
    cursor: pointer;
}

.table-button{
    border: .5px solid #dca73a;
    color: white;
    border-radius: 3px;
    background-color: #dca73a;
    cursor: pointer;
}

.fas{
    padding-left: 10px !important;
    cursor: pointer !important;
}

.table{
    font-family: "Lato", Calibri !important;
}

.information-detail{
    margin-top: 30px;
}

.post-wishlist{
    position: relative;
    display: flex;
    width: 80%;
    height: 150px;
    margin: 20px auto;
    border: 1px solid #CFCFCF;
}


.img-post-wishlist{
    height: 100%;
    max-height: 150px;
    max-width: 150px;

}

.img-post-wishlist img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    display: block;
}

.title-post-wishlist{
    margin-left: 30px;
    width: 100%;
}

.fa-times-circle{
    position: absolute !important;
    top: 7px;
    right: 12px;
    color: #9C9C9C;
    font-size: 1.5em;
}

.thead-light{
    font-size: 14px;
}

tbody{
    font-size: 12px;
}

.fa-times-circle:hover{
    color: #dca73a;
}

.search-area{
    width: 100%;
    height: auto;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.row-search{
    margin: 10px auto;
}

.filter-area{
    font-family: "Lato", sans-serif;
}

.form-dropdown{
    font-size: 12px;
}

.title-filter-area{
    font-size: 14px;
}

.btn-search{
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    height: 30px;
    width: 60%;
    background-color: #dca73a;
    color: white;
    border: none;
    cursor: pointer;
}

select{
    display: block !important;
}

.nice-select{
    display: none !important;
}

.phone-number {
    display: flex;
}

.confirm-otp{
    display: flex;
    padding-top: 20px;
}

.change-phone-area{
    margin: 50px 0;
}

.title-phone{
    margin: 4px 20px;
}

.btn-default-otp{
    margin: 0px 20px;
    border: 1px solid #dca73a;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dca73a;
    color: white;
}

.change-phone,
.confirm-otp-phone{
    height: 30px;
    border-radius: 6px;
}

.title-confirm-otp{
    margin: 4px 22px;
}

.invisible {
    display: none !important;
}
