.profile-avatar{
    font-size: 8em !important;
    margin: 20px auto !important;
    color: #0c5460 !important;
}
.sidebar-left{
    font-family: sans-serif;
    height: 100%;
    border: 0.1px solid #CFCFCF;
    background-color: #e9ecef!important

}

.sidebar-right{
    height: 100%;
    width: 100%;
    padding-left: 30px;
}

.avatar{
    width: 100%;
    height: 35%;
    margin-top: 30px;
    display: grid;
    justify-items: center; /* Căn giữa chiều ngang */
    align-content: center;
}

.information{
    width: 100%;
    height: 65%;
    display: block;
    padding-top: 10px;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-button{
    width: 9%;
    margin-right: 10px;
    float: left;
}

.button-information{
width: 100%;
height: 40px;
display: block;
margin: 3px auto;
border: 0px solid black;
background-color: #f8f9fa;
border-radius: 7px;
color: black;
cursor: pointer;
text-align: inherit;
}
.active, .button-information:hover{
color: white;
background-color: #dca73a;
}

.display-name{
font-family: sans-serif;
color: black;
font-size: 20px;
}

.title{
width: 100%;
display: grid;
align-content: center;
}

.title-name{
font-size: 30px !important;
margin: 10px auto !important;
font-weight: bold !important;
}

.container-fluid{
    background-color: #f8f9fa!important;
    padding: 50px;

}

.detail{
display: flex;
}

.detail-2{
margin-top: 10px;
display: flex;
}

.textfiled{
font-family: sans-serif;
width: 60%;
border-radius: 6px;
border: .5px solid;
height: 30px;
padding-left: 10px;
background-color: white;
}
.label{
font-family:sans-serif;
width: 20%;
color: black;
font-size: inherit;
}

.detail-3{
width: 80%;
}

.save{
width: 20%;
height: 40px;
margin-top: 50px;
float: right;
color: white;
border: .25px solid #dca73a;
border-radius: 3px;
background-color: #dca73a;
cursor: pointer;
}
.change{

width: 15%;
height: 30px;
display: block;
margin: 0px auto;
color: white;
border: .25px solid #dca73a;
border-radius: 3px;
background-color: #dca73a;
cursor: pointer;
}

.btn-hover:hover{
background: #f1b233;
color: #fff;
}

.table-button{
border: .5px solid #dca73a;
color: white;
border-radius: 3px;
background-color: #dca73a;
cursor: pointer;
}

.fas{
padding-left: 10px !important;
cursor: pointer !important;
}

.far{
    padding-left: 10px !important;
    cursor: pointer !important;
}

.table{
font-family:  sans-serif !important;
}

.information-detail{
margin-top: 30px;
    text-align: center;
}

.post-wishlist{
position: relative;
display: flex;
width: 80%;
height: 150px;
margin: 20px auto;
border: 1px solid #CFCFCF;
}


.img-post-wishlist{
height: 100%;
max-height: 150px;
max-width: 150px;

}

.img-post-wishlist img{
max-width: 150px;
max-height: 150px;
width: auto;
height: auto;
display: block;
}

.title-post-wishlist{
    margin-left: 30px;
    margin-top: 7px;
    width: 100%;
}

.fa-times-circle{
position: absolute !important;
top: 7px;
right: 12px;
color: #9C9C9C;
font-size: 1.5em;
}

.thead-light{
font-size: 14px;
}

tbody{
font-size: 12px;
}

.fa-times-circle:hover{
color: #dca73a;
}

.search-area{
    display: flex;
width: 100%;
height: auto;
border: 1px solid #CFCFCF;
border-radius: 4px;
margin-top: 30px;
box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.choose-role{
width: 100%;
height: auto;
margin-top: 30px;
}

.row-search{
margin: 10px;
width: 80%;
}

.area-search{
    width: 20%;
    margin: auto;
}

.filter-area{
font-family: sans-serif;
}

.form-dropdown{
font-size: 15px;
}

.title-filter-area{
font-size: 17px;
}

.btn-search{
display: block;
margin: 10px auto;
border-radius: 4px;
height: 30px;
width: 60%;
background-color: #dca73a;
color: white;
border: none;
cursor: pointer;
}

select{
display: block !important;
}

.nice-select{
display: none !important;
}

.phone-number {
display: flex;
}

.confirm-otp{
display: flex;
padding-top: 20px;
}

.change-phone-area{
margin: 50px 0;
}

.title-phone{
margin: 4px 20px;
}

.btn-default-otp{
margin: 0px 20px;
border: 1px solid #dca73a;
border-radius: 4px;
cursor: pointer;
background-color: #dca73a;
color: white;
}

.change-phone,
.confirm-otp-phone{
height: 30px;
border-radius: 6px;
}

.title-confirm-otp{
margin: 4px 22px;
}

.invisible {
display: none !important;
}

.search-container form{
    margin-top: 20px;
}

.search-container button {
float: right;
padding: 5px 10px;
background: #ddd;
font-size: 17px;
border: none;
    border-radius: 5px;
cursor: pointer;
color: black;
}

.search-container button:hover {
background: #ccc;
}

.fill-information{
width: 100%;
height: auto;
margin: 20px 0px;

}

.title h4{
font-family:  sans-serif;
}

select{
display: block !important;
width: 200px;
height: 35px;
font-family:  sans-serif;
border: 1px solid #aaa;
}

.nice-select{
display: none !important;
}

.form-input-information{
width: 50% ;
font-family:  sans-serif;
font-size: inherit;
border: 1px solid #aaa;
border-radius: 2px;
}

.form-input-title-information{
width: 100% ;
font-family: sans-serif;
font-size: inherit;
border: 1px solid #aaa;
border-radius: 2px;
}

textarea{
width: 80%;
border: 1px solid #aaa;
}

.upload-file{
width: 100%;
height: auto;
border-radius: 2px;
border: 1px dashed #aaa;
}

.upload-image{
width: 100px;
margin: 20px auto;
cursor: copy;
display: block;
}

#table-price{
height: auto;
}

.btn-hover:hover{
background: #f1b233;
color: #fff;
}

.btn-complete{
width:20%;
height: 50px;
background: #dca73a;
display: block;
margin: 50px auto;
border: medium none;
border-radius: 3px;
color: white;
}

.note{
height: fit-content;
background-color: #fff3cd;
padding: 0!important;
position: absolute;
top: 790px;
bottom: 200px;
}

.note-body{
padding: 1.25rem;
}
.note-body h4{
margin-bottom: .75rem;
}

.note-body li{
font-family:  sans-serif;
list-style-type: circle;
margin-left: 15px;
}

input, textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border-radius: 6px!important;
    border: 1px solid #DDDDDD;
    padding: 4px 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #495057;
}


input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 7px rgba(81, 203, 238, 1) !important;
    border: .1px solid rgba(81, 203, 238, 1) !important;
}
.input-information{
    margin-top: 5px;
    display: flex;
}
.input-group-append{
    border: 1px solid #DDDDDD;
    width: 10%;
    line-height: inherit;
    height: 35px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #dca73a;
    color: white;
}
.half-width{
    width: 40%!important;
    border-radius: unset!important;
    border-bottom-left-radius: 6px!important;
    border-top-left-radius: 6px!important;
    height: 34px;
}
.input-group-append span{
    margin: auto;
}
#table-price .table th{
    background-color: unset!important;
    border-right: 1px solid #dee2e6;
}
#table-price .table{
    border: 1px solid #dee2e6;
}
#table-checkout{
    width: 50%;
}
.table-checkout{
    height: auto;
    border-radius: 2px;
    border: 1px dashed #aaa;
}
.table-checkout td{
    padding: .75rem;
    font-family: sans-serif;
}
.table-checkout .money-col{
    padding-left: 7rem!important;
}
.input-information .form-check-inline .radio-container{
    color: #495057;
}
.row{
    position: relative;
}

.list-image{
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
    border: 1px solid #aaa;
}
.list-image .image-item .image{
    height: 100px;
}
.list-image .image-item .image img{
    height: 100%;
}
.list-image .image-item{
    margin-right: 15px;
    position: relative;
}
.list-image{
    overflow-x: auto;
    position: relative;
}

.list-image .image-item .image i{
    position: absolute !important;
    top: 4px;
    right: 4px;
    color: #9C9C9C;
    font-size: 1em;
}

.list-image .image-item .image i:hover{
    color: black;
}

.tbl-room{
    text-align: center;
}

.table-wrapper{
    overflow-y: auto;
    max-height: 500px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #dca73a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #dca73a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
input[type=number].hide-arrow::-webkit-inner-spin-button,
input[type=number].hide-arrow::-webkit-outer-spin-button {

    display: none;
}
.fa-unlock {
    color: mediumspringgreen;
}

.fa-lock {
    color: red;
}

.fa-lock.disable {
    color : #dddddd;
}

.date-time-box{
    padding: 15px;
    background-color: aquamarine;
    line-height: 30px;
}
.btn-extend{
    height: 30px;
    background: #dca73a;
    display: block;
    border: medium none;
    border-radius: 3px;
    color: white;
    margin: auto;
}
.flexElement{
    display: flex;
}
#table-checkout-modal{
    margin: auto;
    width: 60%;
}

.col-menu{
    flex: 0 0 21% !important;
    max-width: 21% !important;
}

.col-table{
    flex: 0 0 79% !important;
    max-width: 79% !important;
}
.table-container{
    overflow: auto;
}
.table-container td,
.table-container th {
    min-width: 110px;
    padding: 0.75rem 0.25rem !important;
}
.col-first{
    min-width: 55px!important;
}


/*.user-infor{*/
/*    margin-bottom: 15px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.user-avatar{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    float: left;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*    background: #eee;*/
/*}*/

/*.avatar {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/