.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://daihoc.fpt.edu.vn/media/2018/01/F1-2.png');
    background-size: cover;
    background-position: center center;
}

.display-4 {
    text-align: center;
    margin-bottom: 70px !important;
    font-family: sans-serif;
    font-size: 2.5em !important;
    font-weight: 400;
}

.mt-4 {
    margin-bottom: 1.5rem !important;
}

.btn-fb {
    background-color: #4267b2 !important;
}

.btn-gm {
    background-color: #EA4335 !important;
}

.form-group {
    display: flex !important;
}

.register-label {
    width: 30%;
    float: left;
}

.register-input {
    width: 70%;
    float: left;
}

.register-input-phone {
    width: 44%;
    float: left;
}

.register-btn-phone {
    width: 26%;
    float: right;
    padding-left: 5px;
}

.btn-primary-otp {
    float: right;
    height: 36px;
    width: 100%;
    background: #dca73a;
    display: block;
    margin: auto;
    border: medium none;
    border-radius: 3px;
    color: white;
}

.btn-primary {
    height: 90%;
    background: #dca73a;
    display: block;
    margin: auto;
    border: medium none;
    border-radius: 3px;
}


.btn-primary-otp:hover{
    background: #dca73a !important;
}

.form-check-inline {
    display: flex;
    margin: auto;
}

.form-check-label {
    font-weight: bold;
    font-size: 18px;
}

.btn-confirm{
    width: 50% !important;
    height: 90%;
    background: #dca73a;
    display: block;
    margin: auto;
    border: medium none;
    border-radius: 3px;
}

.btn-fb img{
    width: 20px;
}

.btn-gm img{
    width: 20px;
}

.btn-otp{
    float: right !important;
    padding: 20px 10px !important;
}

.border_error {
    border: 1px solid red !important;
}
.invisible {
    display: none;
}

.errorText {
    color: red;
}