<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <style>

    </style>
</head>
<body>
<header th:replace="layout :: header"></header>
<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Cover -->
        <!-- <div class="slider-active dot-style"> -->
        <div class="single-slider hero-overly slider-height d-flex align-items-center" data-background="assets/img/hero/F1.jpg">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-9">
                        <div class="h1-slider-caption">
                            <h1 data-animation="fadeInUp" data-delay=".4s">top motel in the hola</h1>
                            <h3 data-animation="fadeInDown" data-delay=".4s">Finding Motel</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Booking Room Start-->
    <div class="booking-area">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <form action="">
                        <div class="booking-wrap d-flex justify-content-between align-items-center">

                            <!-- Single Select Box -->
                            <div class="single-select-box mb-30">
                                <div class="boking-tittle">
                                    <span>Loại Phòng:</span>
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="0">Tất cả</option>
                                                <option value="1">Phòng trọ</option>
                                                <option value="2">Căn hộ</option>
                                                <option value="3">Nhà nguyên căn</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="single-select-box mb-30">
                                <div class="boking-tittle">
                                    <span>Giá Cả:</span>
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="1">Tất cả</option>
                                                <option value="2">Dưới 1 triệu</option>
                                                <option value="3">1 triệu - 1.5 triệu</option>
                                                <option value="4"> 1.5 triệu - 2 triệu</option>
                                                <option value="5">2 triệu - 2.5 triệu</option>
                                                <option value="6">2.5 triệu - 3 triệu</option>
                                                <option value="7">3 triệu - 3.5 triệu</option>
                                                <option value="8">3.5 triệu - 4 triệu</option>
                                                <option value="9">4 triệu - 4.5 triệu</option>
                                                <option value="10">4.5 triệu - 5 triệu</option>
                                                <option value="11">Trên 5 triệu</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="single-select-box mb-30">
                                <div class="boking-tittle">
                                    <span>Diện Tích:</span>
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select2">
                                                <option value="1">Tất cả</option>
                                                <option value="2">Dưới 20 m2</option>
                                                <option value="3">20 m2 - 30 m2</option>
                                                <option value="4">30 m2 - 40 m2</option>
                                                <option value="5">40 m2 - 50 m2</option>
                                                <option value="6">50 m2 - 60 m2</option>
                                                <option value="7">60 m2 - 70 m2</option>
                                                <option value="8">70 m2 - 80 m2</option>
                                                <option value="9">80 m2 - 90 m2</option>
                                                <option value="10">90 m2 - 100 m2</option>
                                                <option value="11">Trên 100 m2</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="single-select-box mb-30">
                                <div class="boking-tittle">
                                    <span>Khoảng Cách:</span>
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select3">
                                                <option value="1">Tất cả</option>
                                                <option value="2">Dưới 1 km</option>
                                                <option value="3">1 km - 2 km</option>
                                                <option value="4">2 km - 3 km</option>
                                                <option value="5"> 3 km - 4 km</option>
                                                <option value="6">4 km - 5 km</option>
                                                <option value="7">Trên 5 km</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="single-select-box pt-45 mb-30">
                                <a href="#" class="btn select-btn">Tìm Kiếm</a>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking Room End-->
    <section class="room-area">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Tin Nổi Bật</h3>
                            <p>Tìm trọ FPTU là website cho phép tìm phòng trọ, đăng tin </br> phòng trọ dành cho chủ trọ và sinh viên đại học FPT</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xl-4 col-lg-6 col-md-6" th:each="post, state : ${posts}">
                    <!-- Single Room -->
                    <div class="single-room mb-50" >
                        <div class="room-img">
                            <a href="rooms.html"><img th:each="image:*{post.images}" th:src="@{${image.url}}" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html" th:utext="${post.description}"></a></h3>
                            <div class="per-night">
                                <span th:utext="${post.price}" ></span><span>  vnđ </span><span>/ tháng</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div th:if="${posts.totalPages != 1}"
                     class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${posts.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{/(pageSize=${selectedPageSize}, page=1)}">First</a>
                        </li>
                        <li th:class="${posts.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{/(pageSize=${selectedPageSize}, page=${posts.number})}">&larr;</a>
                        </li>
                        <li
                                th:class="${posts.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                               th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <li
                                th:class="${posts.number + 1 == posts.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/(pageSize=${selectedPageSize}, page=${posts.number + 2})}">&rarr;</a>
                        </li>
                        <li
                                th:class="${posts.number + 1 == posts.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/(pageSize=${selectedPageSize}, page=${posts.totalPages})}">Last</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>
</main>
<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
</body>
</html>