<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/forgot.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Lấy lại mật khẩu</title>
</head>
<body>
    <div id="loading-wrapper">
        <div v-show="!isHidden" id="loader-login">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <b>Đang Lưu</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    include message modal-->
    <div th:replace="layout :: message-modal"></div>

    <!--    inlude loading screen-->
    <div th:replace="layout :: loader"></div>

    <!--    include header-->
    <header th:replace="layout :: header"></header>
    <main>
        <div class="container-fluid ">
            <div class="forgot-area">
                <div id="forgot-pwd-form" class="form">

                    <div v-if="stepScreen == 1" class="shadow p-3 mb-5 bg-white rounded">
                        <div class=" p-3 mb-5 bg-white rounded form-title">
                            <a th:href="@{dang-nhap}" class="icon"><i class="fas fa-arrow-left"></i></a>
<!--                            <i class="fas fa-arrow-left"></i>-->
                            <div class="form-header">
                                <div class="title uppercase">Đặt lại mật khẩu</div>
                            </div>
                        </div>
                            <div class="msg-notification">
                                <span v-if="showMsg"  v-cloak>
                                    {{message}}
                                </span>
                            </div>
                            <input @focusout="checkExistPhone()" id="phone" v-model="inputPhoneNum" class="tel-phone" type="tel" placeholder="Số điện thoại" maxlength="10" required />
                            <button v-on:click="getOTP()" class="btn-otp uppercase">Gửi Mã</button>
                            <input id="otp" v-model="inputOtp" class="otp-field" type="tel" placeholder="Nhập mã xác nhận" maxlength="6" required/>
                            <button v-on:click="checkOTP()" class="btn-continous uppercase">Tiếp tục</button>
                    </div>

                    <div v-else-if="stepScreen == 2" class="shadow p-3 mb-5 bg-white rounded">
                        <div class=" p-3 mb-5 bg-white rounded form-title">
                            <i class="fas fa-arrow-left" @click="stepScreen = 1"></i>
                            <div class="form-header">
                                <div class="title uppercase">Nhập mật khẩu mới</div>
                            </div>
                        </div>
                        <div class="msg-notification">
                                <span v-if="showMsg"  v-cloak>
                                    {{message}}
                                </span>
                        </div>
                        <input id="pass" @focusout="checkPassword()" v-model="inputPassword" class="reset-password" type="password" placeholder="Nhập mật khẩu" required />
                        <input id="confirm-pass" @focusout="checkMatchPassword()" v-model="inputRePassword" class="reset-password" type="password" placeholder="Nhập lại mật khẩu" required />
                        <button v-on:click="saveNewPassword()" class="btn-continous uppercase">Xác nhận</button>
                    </div>
                 </div>
            </div>
        </div>
    </main>
    <footer th:replace="layout :: footer"></footer>
    <div th:replace="layout :: js-fragment"></div>

    <script type="text/javascript" th:src="@{/custom-assets/vue-js/forgot.js}"></script>
</body>
</html>