<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <title>Hướng dẫn</title>
    <link rel="stylesheet" type="text/css" th:href="@{/custom-assets/css/instruction.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/custom-assets/css/paging.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/custom-assets/vue-js/vue-cookies.js}" src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
</head>
<body>
<!--    include message modal-->
<div th:replace="layout :: message-modal"></div>
<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>

<!--    include header-->
<header th:replace="layout :: header"></header>
<main>
    <div class="container-fluid">
        <div class="container" id="instruction-page">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a v-on:click="roleSelected = 2" class="nav-link" v-bind:class="{active : roleSelected == 2}">Chủ trọ</a>
                </li>

                <li class="nav-item">
                    <a v-on:click="roleSelected = 1" class="nav-link" v-bind:class="{active : roleSelected == 1}">Người thuê</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active">
                    <div class="content" v-for="instruction in listInstruction" v-if="instruction.roleModel.id == roleSelected">
                        <div class="instruction-item">
                            <h3 v-text="instruction.title"></h3>
                            <ul>
                                <p v-text="instruction.content"></p>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/instruction.js}"></script>
</body>
</html>