<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/slicknav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/nice-select.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/responsive.css}">
</head>
<body>
    <header th:fragment="header">
        <!-- Header Start -->
        <div id="header" class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{assets/img/hero/logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a th:href="@{/}">TRANG CHỦ</a></li>
                                        <li><a href="#">PHÒNG TRỌ</a></li>
                                        <li><a href="#">NHÀ NGUYÊN CĂN</a></li>
                                        <li><a href="#">CĂN HỘ</a></li>
                                        <li><a href="#">HƯỚNG DẪN</a>
                                        <li><i class="ti-user"></i>
                                            <ul class="submenu">
                                                <li><a th:href="@{dang-nhap}">Đăng Nhập</a>
                                                <li><a th:href="@{dang-ki}">Đăng Ký</a></li>
                                            </ul>
                                        </li>
                                        <!-- DROPDOWN LANDLORD -->
<!--                                        <li><i class="ti-user"> </i>-->
<!--                                            <ul class="submenu">-->
<!--                                                <li><a th:href="">Thông tin tài khoản</a>-->
<!--                                                <li><a th:href="">Quản lý bài đăng</a></li>-->
<!--                                                <li><a th:href="">Đăng tin</a>-->
<!--                                                <li><a th:href="">Nạp tiền</a>-->
<!--                                                <li><a th:href="">Đăng xuất</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->


                                        <!-- DROPDOWN RENTER -->
<!--                                        <li><i class="ti-user"> </i>-->
<!--                                            <ul class="submenu">-->
<!--                                                <li><a th:href="">Thông tin tài khoản</a>-->
<!--                                                <li><a th:href="">Quản lý yêu cầu</a></li>-->
<!--                                                <li><a th:href="">Danh sách yêu thích</a>-->
<!--                                                <li><a th:href="">Đăng xuất</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->


                                        <!-- DROPDOWN ADMIN -->
<!--                                        <li><i class="ti-user"> </i>-->
<!--                                            <ul class="submenu">-->
<!--                                                <li><a th:href="">Thông tin tài khoản</a>-->
<!--                                                <li><a th:href="">Quản lý bài đăng</a></li>-->
<!--                                                <li><a th:href="">Quản lý người dùng</a>-->
<!--                                                <li><a th:href="">Danh sách báo cáo</a>-->
<!--                                                <li><a th:href="">Đăng xuất</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->

                                    </ul>
                                </nav>
                            </div>
                        </div>
<!--                        <div class="col-xl-2 col-lg-2">-->
<!--                            &lt;!&ndash; header-btn &ndash;&gt;-->
<!--                            <div class="header-btn">-->
<!--                                <a href="#" class="btn btn1 d-none d-lg-block ">ĐĂNG TIN</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <footer th:fragment="footer">
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">

            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img th:src="@{assets/img/hero/logo.png}" alt=""></a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>LIÊN HỆ</h4>
                                <ul>
                                    <li><i class="ti-mobile"> Điện thoại: 0236.000.999</i></li>
                                    <li><i class="ti-email"> Email: FFM@gmail.com</i></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address" class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm"><img src="assets/img/logo/form-iocn.jpg" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <div th:fragment="js-fragment">
        <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>

        <!-- Jquery, Popper, Bootstrap -->
        <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <!-- Jquery Mobile Menu -->
        <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/assets/js/slick.min.js}"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>


        <!-- Jquery Plugins, main Jquery -->
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <script th:src="@{/custom-assets/vue-js/vue.js}" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script th:src="@{/custom-assets/vue-js/vue-cookies.js}" src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
        <script type="text/javascript" th:src="@{/custom-assets/vue-js/get-authentication.js}"></script>
    </div>
</body>
</html>