<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/login.css}">
    <title>Đăng Nhập</title>
</head>
<body>
    <header th:replace="layout :: header"></header>
    <main>
        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image ">
                </div>


                <!-- The content half -->
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">

                        <!-- Demo content-->
                        <div id="login-form" class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h3 class="display-4">ĐĂNG NHẬP</h3>
                                        <div class="form-group mb-3">
                                            <input id="inputEmail" v-model="username" type="email" placeholder="Tên đăng nhập" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        </div>
                                        <div class="form-group mb-3">
                                            <input id="inputPassword" v-model="password" type="password" placeholder="Mật khẩu" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <a class="forgot-pass" th:href="@{forgot}">Quên mật khẩu? </a>
                                        </div>
                                        <button v-on:click="loginButtonClickEvent()" class="btn  btn-block text-uppercase mb-2 rounded-pill shadow-sm btn-login">Đăng Nhập</button>

                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <p style="margin: auto;">Hoặc
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <a th:href="@{facebook-login}"><button type="submit" class="btn btn-primary btn-block btn-fb"> Facebook
                                            </button></a>
                                        </div>
                                        <div class="col-6">
                                            <a th:href="@{google-login}"><button type="submit" class="btn btn-primary btn-block btn-gm">Gmail
                                            </button></a>
                                        </div>
                                    </div>
                                    <div class="text-center d-flex justify-content-between mt-4">

                                        <p style="margin: auto;">Bạn chưa có tài khoản ? <a th:href="@{dang-ki}">Đăng ký ngay</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->

                    </div>
                </div>
                <!-- End -->

            </div>
        </div>


        <!-- </main> -->
    </main>
    <footer th:replace="layout :: footer"></footer>
    <div th:replace="layout :: js-fragment"></div>
    <script th:src="@{/custom-assets/vue-js/vue.js}" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/custom-assets/vue-js/vue-cookies.js}" src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
    <script type="text/javascript" th:src="@{/custom-assets/vue-js/login.js}"></script>
</body>
</html>