
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/profile.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/post-new-room.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/modal.css}">
    <meta charset="UTF-8">
    <title>Quản lý tài khoản</title>
</head>
<body>
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
        <div class="container">
            <div id="pageContent" class="row">
                <div class="col-3 sidebar-left">
                    <div class="avatar">
                        <i class="ti-user profile-avatar"></i>
                        <p class="display-name">Dương Thị Kim Oanh</p>
                    </div>
                    <div class="information" id="myInfoMenu">
                        <button v-bind:class="{active : isAdminProfile}" class="button-information">Thông tin tài
                            khoản
                        </button>
                        <button v-bind:class="{active : isUserMgmt}" @click="getListUser()" class="button-information">
                            Quản lý người dùng
                        </button>
                        <button v-bind:class="{active : isPostMgmt}" @click="getListPost()" class="button-information">
                            Danh sách bài đăng
                        </button>
                        <button v-bind:class="{active : isReportMgmt}" @click="getListReport()"
                                class="button-information">Báo cáo
                        </button>
                        <button class="button-information">Đăng xuất</button>
                    </div>
                </div>
                <div class="col-9 sidebar-right">
                    <!-- Đăng tin -->
                    <div class="title">
                        <h1 class="title-name uppercase">Đăng tin</h1>
                    </div>
                    <div class="container-fluid">
                        <div class="container">
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Loại phòng:</h4>
                                </div>
                                <div class="form-dropdown">
                                    <select>
                                        <option value="1">Tất cả</option>
                                        <option value="2">Phòng trọ</option>
                                        <option value="3">Nhà nguyên căn</option>
                                        <option value="4">Căn hộ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Tiêu đề (ít hơn 100 ký tự):</h4>
                                </div>
                                <div class="input-information">
                                    <input type="text" class="form-input-title-information">
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Thông tin chi tiết:</h4>
                                </div>
                                <div class="input-information">
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Giá (đơn vị: vnđ):</h4>
                                </div>
                                <div class="input-information">
                                    <input type="text" class="form-input-information">
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Diện tích (đơn vị: m&sup2):</h4>
                                </div>
                                <div class="input-information">
                                    <input type="text" class="form-input-information">
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Khoảng cách (so với đại học FPT, đơn vị: km):</h4>
                                </div>
                                <div class="input-information">
                                    <input type="text" class="form-input-information">
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Hình ảnh (tối thiểu 3 hình, tối đa 10 hình):</h4>
                                </div>
                                <div class="input-information">
                                    <div class="upload-file">
                                        <img class="upload-image" src="assets/img/logo/upload.png"/>
                                    </div>
                                </div>
                            </div>
                            <div class="fill-information">
                                <div class="title">
                                    <h4>Thời hạn bài đăng:</h4>
                                </div>
                                <div class="input-information">
                                    <div class="form-check-inline">
                                        <label class="radio-container">1 tháng
                                            <input type="radio" name="duration">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="radio-container">3 tháng
                                            <input  type="radio" name="duration">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="radio-container">6 tháng
                                            <input  type="radio" name="duration">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="radio-container">9 tháng
                                            <input  type="radio" name="duration">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <h4>Bảng giá tham khảo:</h4>
                            </div>
                            <div class="table-price">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">1 Tháng</th>
                                        <th scope="col">3 Tháng</th>
                                        <th scope="col">6 Tháng</th>
                                        <th scope="col">9 Tháng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">10.000vnđ</th>
                                        <th scope="row">20.000vnđ</th>
                                        <th scope="row">40.000vnđ</th>
                                        <th scope="row">60.000vnđ</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn-hover btn-complete">Hoàn thành</button>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note-body">
                            <h4>Lưu ý khi đăng tin</h4>
                            <ul>
                                <li>Nội dung phải viết bằng tiếng Việt có dấu.</li>
                                <li>Tiêu đề tin không dài quá 100 kí tự.</li>
                                <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                                <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                                <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>

</div>
<script th:src="@{/assets/js/vendor/modal.js}"></script>
<script th:src="@{/custom-assets/vue-js/vue.js}" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script th:src="@{/custom-assets/vue-js/vue-cookies.js}"
        src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
<script th:src="@{/custom-assets/vue-js/vue-router.js}" src="https://unpkg.com/vue-router"></script>

<script type="text/javascript" th:src="@{/custom-assets/vue-js/admin.js}"></script>

<div th:replace="layout :: js-fragment"></div>
</body>
</html>