<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/post-detail.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/modal.css}">
    <meta charset="UTF-8">
    <title>Chi tiết bài đăng</title>
</head>
<body>
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="sidebar-left-image">
                    <div class="grid images_3_of_2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="assets/img/rooms/room1.jpg">
                                    <div class="thumb-image"> <img src="assets/img/rooms/room1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb="assets/img/rooms/room2.jpg">
                                    <div class="thumb-image"> <img src="assets/img/rooms/room2.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb=assets/img/rooms/room3.jpg>
                                    <div class="thumb-image"> <img src="assets/img/rooms/room3.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb=assets/img/rooms/room4.jpg>
                                    <div class="thumb-image"> <img src="assets/img/rooms/room4.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb=assets/img/rooms/room5.jpg>
                                    <div class="thumb-image"> <img src="assets/img/rooms/room5.jpg" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <div class="title">
                            <div class="title-left">
                                <h3 class="uppercase">Phòng trọ Nhà Xanh gần cây xăng Hòa Lạc diện tích 30m vuông, cách trường 2km</h3>
                            </div>
                            <div class="title-right">
                                <i class="far fa-2x fa-heart icon-heart"></i>
<!--                                <i class="fa fa-2x fa-heart full"></i>-->
                            </div>
                        </div>
                        <div class="detail">
                            <div class="row">
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/house.png">
                                    <label>Loại phòng: phòng trọ</label>
                                </div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/money.png">
                                    <label>Giá: 1,500,000vnđ /tháng</label>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/square.png">
                                    <label>Diện tích: 100m&sup2</label>
                                </div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/distance.png">
                                    <label>Khoảng cách: 2km</label>
                                </div>
                            </div>
                        </div>
                        <div class="description-information">
                            <h4 class="font-weight-bold">Thông tin chi tiết</h4>
                            <p>
                                Tôi Tên Khôi là chính chủ Miếng đất thửa 505 Mặt tiền đường Bùi Thị Điệt, Xã Nhuận Đức, Huyện Củ Chi (ngay ngã 3 Nhuận Đức, Bùi Thị Điệt)</br>
                                Hiện tôi đang kẹt nên muốn bán miếng đất 774.7m2 này</br>
                                Miếng đất đã có sẳn 100m2 thổ cư rồi rất hợp xây nhà vườn, biệt thự hay kho xưởng đều được.</br>
                                Tôi bán với giá 3 tỷ 650 ( thương lượng với người thiện chí )</br>

                                Muốn đi xem thực tế xin gọi cho tôi:</br>
                                Các thông tin của miếng đất:</br>
                                Đất thuộc dạng dân cư hiện hữu</br>
                                Khu vực có người ở đông đúc rồi, gần khu biệt thự với khách sạn Nhuận Đức.</br>
                                Vui lòng gọi cho tôi đừng nhắn tin. Cảm ơn bạn đã đọc tin</br>
                            </p>
                        </div>
                    </div>
                    <div class="share">
                        <div class="title-share">
                            <h4 class="font-weight-bold">Chia sẻ </h4>
                        </div>
                        <div class="btn-share">
                            <button class="btn-share-fb" type="button">Chia Sẻ Facebook</button>
                        </div>
                    </div>
                    <div class="report">
                        <div class="title-report">
                            <p class="description-report">Bài viết này đã được kiểm duyệt. Nếu gặp vấn đề vui lòng báo cáo với chúng tôi.</p>
                            <button class="btn-report" onclick="modal_report()" type="button" id="myBtn">Báo Cáo Bài Viết</button>
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Báo Cáo Bài Viết</h2>
                                        <span class="close">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="font-weight-normal">Nội dung</h4>
                                        <textarea></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn-default">Xác Nhận</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right-information">
                    <div class="information">
                        <div class="icon-information">
                            <img class="avatar-information" src="assets/img/logo/user.png">
                        </div>
                        <div class="name-landlord">
                            <label>Duong Thi Kim Oanh</label>
                            <div class="create-date">
                                <label>Ngày đăng: 21-06-2020</label>
                            </div>
                        </div>
                    </div>
                    <div class="room-number">
                        <h4 class="font-weight-normal">Chọn phòng:</h4>
                        <div class="select-room">
                            <select name="room" id="rooms">
                                <option value="room1">room1</option>
                                <option value="room2">room2</option>
                                <option value="room3">room3</option>
                                <option value="room4">room4</option>
                            </select>
                        </div>
                    </div>

                    <div class="sent-request">
                        <button class="btn btn-danger">Gửi Yêu Cầu</button>
                    </div>

                    <div class="contact">
                        <h4 class="font-weight-bold-contact">Liên hệ với chủ trọ: </h4>
                        <h3>0905.000.888</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/vendor/modal.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{/assets/js/imagezoom.js}"></script>-->
<script th:src="@{/assets/js/jquery.flexslider.js}"></script>
<script th:src="@{/assets/js/flexslider.js}"></script>
</body>
</html>