
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/post-detail.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/modal.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Chi tiết bài đăng</title>
</head>
<body>
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
            <div id="postDetailBody" class="main-content">
            <div class="row">
                <div class="sidebar-left-image">
                    <section class="slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="assets/img/rooms/cohuong5.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong4.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong3.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong2.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong1.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong3.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong2.jpg" />
                                </li>
                                <li>
                                    <img src="assets/img/rooms/cohuong1.jpg" />
                                </li>
                            </ul>
                        </div>
                    </section>
                    <div class="description">
                        <div class="title">
                            <div class="title-left">
                                <h3 class="uppercase">Phòng trọ Nhà Xanh gần cây xăng Hòa Lạc diện tích 30m vuông, cách trường 2km</h3>
                            </div>
                            <div class="title-right">
                                <i class="far fa-2x fa-heart icon-heart"></i>
<!--                                <i class="fa fa-2x fa-heart full"></i>-->
                            </div>
                        </div>
                        <div class="detail">
                            <div class="row" th:object="${post}">
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/house.png">
                                    <label th:text="${'Loại phòng: '+post.type.name}"></label>
                                </div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/money.png">
                                    <span th:text="${'Giá: ' +post.price+' vnd/ tháng'}"></span>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/square.png">
                                    <label th:text="${'Diện tích: '+post.square+'m&sup2'}"></label>
                                </div>
                                <div class="col">
                                    <img class="icon-post-detail" src="assets/img/logo/distance.png">
                                    <label th:text="${'Khoảng cách: '+post.distance+' km'}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="description-information">
                            <h4 class="font-weight-bold">Thông tin chi tiết</h4>
                            <p th:text="${post.description}"></p>
                        </div>
                    </div>
                    <div class="share">
                        <div class="title-share">
                            <h4 class="font-weight-bold">Chia sẻ </h4>
                        </div>
                        <div class="btn-share">
                            <button class="btn-share-fb" type="button">Chia Sẻ Facebook</button>
                        </div>
                    </div>
                    <div class="report">
                        <div class="title-report">
                            <p class="description-report">Bài viết này đã được kiểm duyệt. Nếu gặp vấn đề vui lòng báo cáo với chúng tôi.</p>
                            <button class="btn-report" v-on:click="showModalReport()" type="button" id="btnReport">Báo Cáo Bài Viết</button>
                            <div id="reportModal" class="modal">f
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Báo Cáo Bài Viết</h2>
                                        <span @click="handleEventReportModal($event)" class="close">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="font-weight-normal">Nội dung</h4>
                                        <textarea></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="modalReportAcceptBtn" @click="handleEventReportModal" class="btn-default">Xác Nhận</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right-information">
                    <div class="information">
                        <div class="icon-information">
                            <img class="avatar-information" src="assets/img/logo/user.png">
                        </div>
                        <div class="name-landlord">
                            <label>Duong Thi Kim Oanh</label>
                            <div class="create-date">
                                <label>Ngày đăng: 21-06-2020</label>
                            </div>
                        </div>
                    </div>
                    <div class="room-number">
                        <h4 class="font-weight-normal">Chọn phòng:</h4>
                        <div class="select-room">
                            <select name="room" id="rooms">
                                <option value="room1">room1</option>
                                <option value="room2">room2</option>
                                <option value="room3">room3</option>
                                <option value="room4">room4</option>
                            </select>
                        </div>
                    </div>

                    <div class="sent-request">
                        <button class="btn btn-danger">Gửi Yêu Cầu</button>
                    </div>

                    <div class="contact">
                        <h4 class="font-weight-bold-contact">Liên hệ với chủ trọ: </h4>
                        <h3>0905.000.888</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/vendor/modal.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/assets/js/jquery.flexslider.js}"></script>
<script th:src="@{/assets/js/flexslider.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/post-detail.js}"></script>

</body>
</html>