<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/post-detail.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/modal.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="assets/css/flex-slider.css" rel="stylesheet" type="text/css"/>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1IHF1gT-MK8Dsac6-9jeYv_pVjYuDyk&libraries=places">
    </script>
    <title>Chi tiết bài đăng</title>
</head>
<body>

<!--    include confirm modal-->
<div th:replace="layout :: confirm-modal"></div>

<!--    include message modal-->
<div th:replace="layout :: message-modal"></div>

<!--    inlude processing loader screen-->
<div th:replace="layout :: processing-loader"></div>

<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>

<!--    include header-->
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
        <div id="postDetailBody" class="main-content">
            <div class="row">
                <div class="col-left">
                    <div class="grid images_3_of_2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li v-for="image of listImage" class="slide-image-container">
                                    <img v-bind:src="image"/>
                                </li>
                            </ul>
                            <div class="het-phong-detail" v-if="post.outOfRoom">
                                <span class="text-het-phong">Hết phòng</span>
                            </div>
                        </div>
                    </div>
                    <div class="wish-list clearfix">
                        <button v-if="userInfo == null || userInfo.role == 'RENTER'" class="btn-save" v-bind:disabled="disableFunctions"
                                v-on:click="showModalReport()" type="button" title="Báo cáo">
                            <img src="assets/img/logo/alert.png">
                            <span>Báo cáo</span>
                        </button>
                        <button v-if="(userInfo == null || userInfo.role == 'RENTER')"
                                v-bind:disabled="disableFunctions"
                                class="btn-save" v-on:click="handleActionWishList(post)" type="button"
                                v-bind:title="listPostOfRenter.some(p => p.id == post.id) ? 'Bỏ lưu tin' : 'Lưu tin này'">
                            <img src="assets/img/logo/bookmark.png">
                            <span v-text="listPostOfRenter.some(p => p.id == post.id) ? 'Bỏ lưu tin' : 'Lưu tin này'"></span>
                        </button>
                    </div>
                    <div class="title-area clearfix">
                        <h1 class="title" v-text="post.title"></h1>
                    </div>
                    <div class="overview clearfix">
                        <div class="title-name">
                            <span>Đặc điểm chung</span>
                        </div>
                        <div class="content clearfix">
                            <ul class="list-overview clearfix">
                                <li class="item">
                                    <span class="item-name"><img class="icon-post-detail"
                                                                 src="assets/img/logo/house.png"> Loại phòng:</span>
                                    <span class="item-value" v-text="post.type"></span>
                                </li>
                                <li class="item">
                                    <span class="item-name"><img class="icon-post-detail"
                                                                 src="assets/img/logo/money.png"> Giá cho thuê:</span>
                                    <span class="item-value-price"
                                          v-text="authenticationInstance.formatNumberToDisplay(post.price) + ' VNĐ/Tháng'"></span>
                                </li>
                                <li class="item">
                                    <span class="item-name"><img class="icon-post-detail"
                                                                 src="assets/img/logo/square.png"> Diện tích:</span>
                                    <span class="item-value" v-text="post.square + 'M&sup2'"></span>
                                </li>
                                <li class="item">
                                    <span class="item-name"><img class="icon-post-detail"
                                                                 src="assets/img/logo/distance.svg"> Khoảng cách:</span>
                                    <span class="item-value" v-text="post.distance + ' KM'"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="description clearfix">
                        <div class="title-name">
                            <span>Thông tin mô tả</span>
                        </div>
                        <div class="description-content">
                            <p v-text="post.description"></p>
                        </div>
                    </div>
                    <div class="location clearfix">
                        <div class="title-name">
                            <span>Vị trí</span>
                        </div>
                        <div class="address">
                            <span class="subtext">
                                <i class="fas fa-map-marker-alt"></i>
                                {{post.address}}
                            </span>
                        </div>
                        <div class="address">

                            <span class="subtext">
                                <img class="img-marker" src="assets/img/logo/A.png">
                                <p v-text="post.title"></p>
                            </span>
                            <span class="subtext">
                                <img class="img-marker" src="assets/img/logo/B.png">
                                <p>Đại Học FPT</p>
                            </span>
                        </div>
                        <div class="map" id="map-canvas">
                        </div>
                    </div>

                    <!-- Load Facebook SDK for JavaScript -->
                    <script>
                        window.fbAsyncInit = function () {
                            FB.init({
                                appId: 'your-app-id',
                                autoLogAppEvents: true,
                                xfbml: true,
                                version: 'v8.0'
                            });
                        };
                    </script>
                    <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/vi_VN/sdk.js"></script>
                    <!-- share Facebook -->
                    <div id="btn-share-fb" class="share clearfix">
                        <div class="title-name">
                            <span>Chia sẻ:</span>
                            <!-- Your share button code -->
                            <div class="fb-share-button"
                                 data-layout="button" data-size="large">
                                <a target="_blank" class="fb-xfbml-parse-ignore">
                                    Chia sẻ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="report clearfix" v-if="userInfo == null || userInfo.role == 'RENTER'">
                        <div class="report-area">
                            <p>
                                <strong>Lưu ý</strong>
                                </br>Mọi thông tin trên website chỉ mang tính chất tham khảo. Chúng tôi luôn cố gắng
                                cung cấp các thông tin đầy đủ,
                                chính xác và minh bạch đến người xem, tuy nhiên quá trình kiểm duyệt vẫn có thể xảy ra
                                sơ sót. Vì vậy rất mong
                                nhận được sự đóng góp, phản ánh của các bạn để thông tin chính xác hơn.
                            </p>
                            <button class="btn-report" v-on:click="showModalReport()" v-bind:disabled="disableFunctions" type="button" id="btnReport">
                                <img src="assets/img/logo/alert.png">
                                <span>Báo Cáo</span>
                            </button>
                            <div id="reportModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Báo Cáo Bài Viết</h2>
                                        <span id="closeModalReport" @click="closeModalReport()"
                                              class="close">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="font-weight-normal">Nội dung<span class="require-text">*</span></h4>
                                        <textarea v-model="reportContent"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="modalReportAcceptBtn" @click="showModalConfirmSendReport()"
                                                class="btn-default">Xác Nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="information-header">
                        <div class="display clearfix">
                            <div class="display-avatar">
                                <img src="assets/img/logo/ava.png">
                            </div>
                            <div class="display-name">
                                <span class="name-value" v-text="post.landlordDisplayName"></span>
                                <span class="date-value" v-text="'Ngày đăng: ' + post.createDate"></span>
                            </div>
                        </div>
                        <div class="sent-request" v-if="userInfo == null || userInfo.role == 'RENTER'">
                            <button v-bind:disabled="disableFunctions" @click="showModalChooseRoom()" class="btn btn-danger">Gửi Yêu Cầu</button>
                        </div>

                        <!--Modal choose room-->
                        <div id="myModal_chooseRoom" class="modal">
                            <!-- Modal content -->
                            <div class="view-information">
                                <div class="modal-header">
                                    <h2>Chọn phòng</h2>
                                    <span @click="closeModalChooseRoom" class="close">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <div class="error-line">
                                        <div class="col-3 title-room">
                                        </div>
                                        <div class="col-9 choose-room">
                                            <div class="msg-notification">
                                                <span v-if="showMsg"  v-html="validateMessage">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-number pt-0 pb-0">
                                        <div class="title-room col-4">
                                            <h4 class="font-weight-normal">Chọn phòng<span class="require-text">*</span></h4>
                                        </div>
                                        <div class="choose-room clearfix col-8">
                                            <ul class="list-select-room" v-for="room in listRoomOfPost">
                                                <li class="select-room"
                                                    v-bind:class="{disable : room.status.id == 2, selected: room.id == roomIdRental}"
                                                    @click="setRoomIdRental(room, $event)">
                                                    {{room.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="room-number pt-2">
                                        <div class="title-room col-12">
                                            <h4 style="font-size: 15px!important;" class="font-weight-normal"><span class="require-text">*</span>Màu xám mô tả phòng đã cho thuê</h4>
                                        </div>
                                    </div>
                                    <div class="room-number pb-4">
                                        <div class="title-room col-4 pr-0">
                                            <h4 class="font-weight-normal">Ngày bắt đầu thuê<span class="require-text">*</span></h4>
                                        </div>
                                        <div class="choose-room col-8">
                                            <input @change="validateDate(dateRequestRental)" v-model="dateRequestRental" type="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button @click="showModalConfirmSentRental()" class="btn-hover btn-default">Xác
                                        Nhận
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="contact">
                            <h4 class="font-weight-bold-contact">Liên hệ với chủ trọ </h4>
                            <h3 v-text="post.phoneNumber"></h3>
                        </div>
                    </div>
                    <div class="news-involve">
                        <div class="header-news">
                            <span>Có thể bạn quan tâm</span>
                        </div>
                        <div class="list-news-content">
                            <ul class="list-news clearfix">
                                <li class="news" v-for="relatedPost in relatedPosts">
                                    <a class="post-link clearfix" v-bind:href="'/post-detail?id=' + relatedPost.id">
                                        <figure class="thumb">
                                            <img v-bind:src="relatedPost.images[0]">
                                        </figure>
                                        <div class="infor">
                                            <div class="inner">
                                                <span class="title-news" v-text="relatedPost.title" data-toggle="tooltip" data-placement="bottom" v-bind:title="relatedPost.title"></span>
                                                <div class="clearfix">
                                                    <div class="price">
                                                        <span v-text="authenticationInstance.formatNumberToDisplay(relatedPost.price) + ' VNĐ/Tháng'"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Modal-->
            <div th:replace="layout :: confirmModalFragment"></div>
            <div th:replace="layout :: notification"></div>
        </div>
    </div>

</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script th:src="@{/assets/js/main.js}"></script>
<!--<script type="text/javascript" th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>-->
<!--<script th:src="@{/assets/js/imagezoom.js}"></script>-->
<script th:src="@{/assets/js/jquery.flexslider.js}"></script>
<script th:src="@{/assets/js/flexslider.js}"></script>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/post-detail.js}"></script>

</body>
</html>