<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/profile.css}">
    <link rel="stylesheet" th:href="@{custom-assets/css/modal.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Quản lý tài khoản</title>
</head>
<body>
<!--    include notification modal-->
<div th:replace="layout :: notification"></div>

<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>

<!--    include header-->
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
<!--        <div class="container">-->
            <div id="pageContent" class="row">
                <div class="col-lg-3 d-none d-lg-block bg-light sidebar-left col-menu">
                    <div th:replace="layout :: basic-user-infor"></div>

<!--                    <div class="avatar" id="basic-user-info">-->
<!--                        <i class="ti-user profile-avatar"></i>-->
<!--                        <p class="display-name" v-text="userInfo.displayName"></p>-->
<!--                    </div>-->
                    <div th:replace="layout :: user-task"></div>
                </div>

                <div id="user-manager-content" class="col sidebar-right col-table">
                    <!-- Thông tin tài khoản -->
                    <div th:replace="layout :: profile-user"></div>

                    <!-- Đổi mật khẩu -->
                    <div th:replace="layout :: change-password"></div>
                </div>

                <div id="dataTable" class="col sidebar-right col-table">

                    <!-- Quản lý người dùng -->

                    <div id="userTable" v-if="task == 9">
                        <div class="title">
                            <h1 class="title-name uppercase">Quản lý người dùng</h1>
                        </div>
                        <div class="choose-role">
                            <div class="row">
                                <div class="col-3">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Vai trò:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select id="roleFilterCb" v-on:change="getListUser()">
                                                    <option selected value="0">Tất cả</option>
                                                    <option value="RENTER">Người thuê</option>
                                                    <option value="LANDLORD">Chủ trọ</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-3"></div>
                                <div class="col-3">
                                    <div class="search-container">
                                        <form action="#">
                                            <input @focusout="getUserById()" id="searchUserTxt" type="text"
                                                   placeholder="Tìm kiếm..." name="search">
                                            <button @click.prevent="getUserById()" type="submit"><i
                                                    class="fa fa-search"></i></button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="information-detail">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên đăng nhập</th>
                                    <th scope="col">Tên hiển thị</th>
                                    <th scope="col">Vai trò</th>
                                    <th scope="col">Báo cáo</th>
                                    <th scope="col">Tác vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(user, index) in listUser">
                                    <th scope="row">{{listUser.indexOf(user) + 1}}</th>
                                    <td><a id="myBtn">{{user.username}}</a></td>
                                    <td>{{user.displayName}}</td>
                                    <td>{{user.roleName}}</td>
                                    <td>
                                        <i v-if="user.role == 'LANDLORD'" v-on:click="handleGetReport(null, user)" class="fas fa-eye" data-toggle="tooltip" data-html="true"
                                           title="Xem báo cáo"></i>
                                        <span v-if="user.role == 'LANDLORD'">{{user.reportNumber}}</span>
                                    </td>
                                    <td>
                                        <i class="fas fa-eye" @click="showModalUserDetail(user.username)"
                                           id="myIcon-view" data-toggle="tooltip" data-html="true" title="Xem chi tiết"></i>
                                        <i v-if="user.role == 'LANDLORD'"
                                           v-bind:class="{invisible: user.unBanDate != null, disable : !user.banAvailable}"
                                           @click="showModalConfirmBan(user.username, 'landlord', 'ban', index, $event)"
                                           class="fas fa-lock" data-toggle="tooltip" data-html="true"
                                           v-bind:title="user.banAvailable ? 'Khóa tài khoản' : ''">
                                            {{user.unBanDate}}
                                        </i>
                                        <i v-if="user.role == 'LANDLORD'"
                                           v-bind:class="{invisible: user.unBanDate == null}"
                                           @click="showModalConfirmBan(user.username,'landlord' ,'unban', index, $event)"
                                           :aria-disabled="true"
                                           class="fas fa-unlock" data-toggle="tooltip" data-html="true" title="Mở khóa tài khoản">

                                        </i>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Báo cáo -->
                    <div id="reportTable" v-if="task == 11">
                        <div class="title">
                            <h1 class="title-name uppercase">Danh sách báo cáo</h1>
                        </div>
                        <div class="search-form">
                            <div class="row">
                                <div class="col-3">
                                    <div class="search-container">
                                        <label class="search-box-label">Bài đăng</label>
                                        <input v-model="inputPostTitle" class="search-box" type="text"name="search"/>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="search-container">
                                        <label class="search-box-label">Người báo cáo</label>
                                        <input v-model="inputRenterId" class="search-box" type="text" name="search"/>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="search-container">
                                        <label class="search-box-label">Chủ trọ</label>
                                        <input v-model="inputLandlordId" class="search-box" type="text" name="search"/>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <button v-on:click="searchReport()" class="btn btn-search">Tìm kiếm</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Trạng thái</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <select class="search-box" v-model="inputStatusReport">
                                                <option selected value="0">Tất cả</option>
                                                <option v-for="status in listStatusReport" v-bind:value="status.id" v-text="status.displayStatus"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-3"></div>
                                <div class="col-3">
                                </div>
                            </div>
                        </div>
                        <div class="information-detail">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên bài đăng</th>
                                    <th scope="col">Chủ trọ</th>
                                    <th scope="col">Ngày đăng</th>
                                    <th scope="col">Người đăng</th>
                                    <th scope="col">Chi tiết</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tác vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="report in listReport">
                                    <th scope="row">{{listReport.indexOf(report) + 1}}</th>
                                    <td><a v-bind:href="'/report-detail?id=' + report.id">{{report.postTitle}}</a></td>
                                    <td>{{report.landlordName}}</td>
                                    <td>{{report.reportDate}}</td>
                                    <td>{{report.renterId}}</td>
                                    <td>{{report.content}}</td>
                                    <td>{{report.displayStatus}}</td>
                                    <td>
                                        <i class="fas fa-eye" onclick="modal_viewReport()" id="myIcon_viewReport"></i>
                                        <div id="myModal_viewReport" class="modal">
                                            <!-- Modal content -->
                                            <div class="view-information">
                                                <div class="modal-header">
                                                    <h2>Chi tiết báo cáo</h2>
                                                    <span class="close">&times;</span>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="infor-modal">
                                                        <p class="left-modal">Tên bài đăng:</p>
                                                        <input class="right-modal rounded-pill border-0 shadow-sm"
                                                               type="text" disabled/>
                                                    </div>
                                                    <div class="infor-modal">
                                                        <p class="left-modal">Tên chủ trọ:</p>
                                                        <input class="right-modal rounded-pill border-0 shadow-sm"
                                                               type="text" disabled/>
                                                    </div>
                                                    <div class="infor-modal">
                                                        <p class="left-modal">Ngày báo cáo:</p>
                                                        <input class="right-modal rounded-pill border-0 shadow-sm"
                                                               type="text" disabled/>
                                                    </div>
                                                    <div class="infor-modal-table">
                                                        <p class="left-modal">Nội dung báo cáo:</p>
                                                        <textarea></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn-hover btn-default">Xác Nhận</button>
                                                </div>
                                            </div>
                                        </div>
                                        <i @click="showModalConfirmDelete(report.id, 'report')"
                                           class="fas fa-trash-alt"> </i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Quản lý bài đăng -->
                    <div id="postTable" v-if="task == 10">
                        <div class="title">
                            <h1 class="title-name uppercase">Quản lý bài đăng</h1>
                        </div>
                        <div class="search-area">
                            <div class="row row-search">
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Loại phòng:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select v-model="postType">
                                                    <option value="0">Tất cả</option>
                                                    <option value="1">Phòng trọ</option>
                                                    <option value="2">Nhà nguyên căn</option>
                                                    <option value="3">Căn hộ</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Giá:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select v-model="postPrice">
                                                    <option value="0">Tất cả</option>
                                                    <option value="1">Dưới 1 triệu</option>
                                                    <option value="3">1 triệu - 1.5 triệu</option>
                                                    <option value="4"> 1.5 triệu - 2 triệu</option>
                                                    <option value="5">2 triệu - 2.5 triệu</option>
                                                    <option value="6">2.5 triệu - 3 triệu</option>
                                                    <option value="7">3 triệu - 3.5 triệu</option>
                                                    <option value="8">3.5 triệu - 4 triệu</option>
                                                    <option value="9">4 triệu - 4.5 triệu</option>
                                                    <option value="10">4.5 triệu - 5 triệu</option>
                                                    <option value="11">Trên 5 triệu</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Diện tích:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select v-model="postSquare">
                                                    <option value="0">Tất cả</option>
                                                    <option value="1">Dưới 20m&sup2</option>
                                                    <option value="2">20m&sup2 - 30m&sup2</option>
                                                    <option value="4">30m&sup2 - 40m&sup2</option>
                                                    <option value="5">40m&sup2 - 50m&sup2</option>
                                                    <option value="6">50m&sup2 - 60m&sup2</option>
                                                    <option value="7">60m&sup2 - 70m&sup2</option>
                                                    <option value="8">70m&sup2 - 80m&sup2</option>
                                                    <option value="9">80m&sup2 - 90m&sup2</option>
                                                    <option value="10">90m&sup2 - 100m&sup2</option>
                                                    <option value="11">Trên 100m&sup2</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Khoảng cách:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select v-model="postDistance">
                                                    <option value="0">Tất cả</option>
                                                    <option value="1">Dưới 1 km</option>
                                                    <option value="3">1 km - 2 km</option>
                                                    <option value="4">2 km - 3 km</option>
                                                    <option value="5"> 3 km - 4 km</option>
                                                    <option value="6">4 km - 5 km</option>
                                                    <option value="7">Trên 5 km</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Trạng thái:</span>
                                        </div>
                                        <div class="form-dropdown">
                                            <form action="#">
                                                <select v-model="postStatus">
                                                    <option value="">Tất cả</option>
                                                    <option value="0">Ẩn</option>
                                                    <option value="1">Hiện</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-area">
                                        <div class="title-filter-area">
                                            <span>Chủ trọ:</span>
                                        </div>
                                        <div class="search-container">
                                            <input v-model="postTitleOrLandlord" id="searchLandlordTxt" type="text"
                                                   placeholder="Tìm kiếm..."
                                                   name="search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="area-search">
                                <div class="filter-area">
                                    <div class="title-filter-area">
                                        <button @click="searchPost()" class="btn-search">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="information-detail table-container">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th class="col-first" scope="col">STT</th>
                                    <th scope="col">Tác vụ</th>
                                    <th scope="col">Báo cáo</th>
                                    <th class="col-third" scope="col">Tên phòng trọ</th>
                                    <th scope="col">Loại phòng</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Diện tích</th>
                                    <th scope="col">Khoảng cách</th>
                                    <th scope="col">Ngày đăng</th>
                                    <th scope="col">Ngày hết hạn</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Chủ sở hữu</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post, index) in listPost">
                                    <td class="col-first" scope="row">{{listPost.indexOf(post) + 1}}</td>
                                    <td>
                                        <i class="fas fa-eye" data-toggle="tooltip" data-html="true"
                                           title="Xem chi tiết"></i>
                                        <i v-bind:class="{disable : !post.banAvailable}"
                                           @click="showModalConfirmBan(post.id, 'post','ban', index, $event)"
                                           class="fas fa-lock" data-toggle="tooltip" data-html="true"
                                           v-bind:title="post.banAvailable ? 'Khóa bài đăng' : ''"
                                           id="lockPostIcon"></i>
<!--                                        <i v-bind:class="{invisible: !post.banned}"-->
<!--                                           @click="showModalConfirmBan(post.id, 'post','unban', index, $event)"-->
<!--                                           class="fas fa-unlock" data-toggle="tooltip" data-html="true"-->
<!--                                           title="Mở khóa bài đăng"-->
<!--                                           id="unlockPostIcon"></i>-->
                                    </td>
                                    <td>
                                        <i v-on:click="handleGetReport(post, null)" class="fas fa-eye" data-toggle="tooltip" data-html="true"
                                           title="Xem báo cáo"></i>
                                        {{post.reportNumber}}
                                    </td>
                                    <td><a target="_blank" v-bind:href='"post-detail?id=" + post.id'>{{post.title}}</a>
                                    </td>
                                    <td>{{post.typeName}}</td>
                                    <td>{{post.price}}</td>
                                    <td>{{post.square}} m&sup2</td>
                                    <td>{{post.distance}} km</td>
                                    <td>{{post.createDate}}</td>
                                    <td>{{post.expireDate}}</td>
                                    <td>
                                        <div v-text="post.displayStatus" v-bind:class="post.postVisible && !post.banned ? 'status-show' : 'status-hide'">
                                        </div>
                                    </td>
                                    <td>{{post.landlordName}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Modal icon delete -->
                    <div id="modalDelete" class="modal">
                        <!-- Modal content -->
                        <div class="message-confirm">
                            <div class="modal-header">
                                <h2>Xác Nhận</h2>
                            </div>
                            <div class="modal-body">
                                <label id="modalDelContent"></label>
                                <div class="group-btn">
                                    <button @click="yesNoConfirmDelClick($event)" value="0" class="btn-default-cancel">
                                        Hủy
                                        bỏ
                                    </button>
                                    <button @click="yesNoConfirmDelClick($event)" value="1" class="btn-default-cancel">
                                        Đồng
                                        ý
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal ban confirm -->
                    <div id="modalBan" class="modal">
                        <!-- Modal content -->
                        <div class="message-confirm">
                            <div class="modal-header">
                                <h2>Xác Nhận</h2>
                            </div>
                            <div class="modal-body">
                                <label id="modalBanContent"></label>
                                <div class="group-btn">
                                    <button @click="yesNoConfirmBanClick($event)" value="0"
                                            class="btn-hover btn-default-cancel">Hủy
                                        bỏ
                                    </button>
                                    <button @click="yesNoConfirmBanClick($event)" value="1"
                                            class="btn-hover btn-default-cancel">Đồng
                                        ý
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal user detail-->
                    <div id="modalUserDetail" class="modal">
                        <!-- Modal content -->
                        <div class="view-information">
                            <div class="modal-header">
                                <h2>Thông tin người dùng</h2>
                                <span id="closeModalUserDetail" class="close">&times;</span>
                            </div>
                            <div class="modal-body">
                                <div class="infor-modal">
                                    <p class="left-modal">Tên đăng nhập:</p>
                                    <input :value="userDetail.username"
                                           class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div class="infor-modal">
                                    <p class="left-modal">Tên hiển thị:</p>
                                    <input :value="userDetail.displayName"
                                           class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div class="infor-modal">
                                    <p class="left-modal">Số điện thoại:</p>
                                    <input :value="userDetail.phoneNumber"
                                           class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div v-if="userDetail.role == 'RENTER'" class="infor-modal">
                                    <p class="left-modal">Ngày sinh:</p>
                                    <input :value="userDetail.dob" class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div v-if="userDetail.role == 'RENTER'" class="infor-modal">
                                    <p class="left-modal">Nghề nghiệp:</p>
                                    <input class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" value="Sinh viên" disabled/>
                                </div>
                                <div v-if="userDetail.role == 'RENTER'" class="infor-modal">
                                    <p class="left-modal">Giới tính:</p>
                                    <input class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" value="Nam" disabled/>
                                </div>
                                <div class="infor-modal">
                                    <p class="left-modal">Vai trò:</p>
                                    <input :value="userDetail.roleName"
                                           class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div v-if="userDetail.role == 'LANDLORD'" class="infor-modal">
                                    <p class="left-modal">Tài khoản:</p>
                                    <input :value="userDetail.amount"
                                           class="right-modal rounded-pill border-0 shadow-sm"
                                           type="text" disabled/>
                                </div>
                                <div v-if="userDetail.role == 'LANDLORD'" class="infor-modal-table">
                                    <p class="left-modal">Danh sách bài đăng:</p>
                                    <table class="table">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên bài đăng</th>
                                            <th scope="col">Ngày đăng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>phòng 1</td>
                                            <td>20-06-2020</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-hover btn-default">Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--    </div>-->
</main>
<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<!--<div id="myModal" class="modal">-->
<!--    &lt;!&ndash; Modal content &ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <span class="close">&times;</span>-->
<!--            <h2>Modal Header</h2>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <p>Some text in the Modal Body</p>-->
<!--            <p>Some other text...</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--            <h3>Modal Footer</h3>-->
<!--        </div>-->
<!--    </div>-->

<script type="text/javascript" th:src="@{/custom-assets/vue-js/profile-user.js}"></script>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/admin.js}"></script>
</body>
</html>