<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/profile.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Quản lý tài khoản</title>
</head>
<body>

<!--    include notification modal-->
    <div th:replace="layout :: notification"></div>

<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>

<!--    include header-->
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
<!--        <div class="container">-->
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block bg-light sidebar-left col-menu">
                    <div th:replace="layout :: basic-user-infor"></div>
                    <div th:replace="layout :: user-task"></div>
                </div>

                <div id="user-manager-content" class="col sidebar-right col-table">
                    <!-- Thông tin tài khoản -->
                    <div th:replace="layout :: profile-user"></div>


                    <!-- Đổi mật khẩu -->
                    <div th:replace="layout :: change-password"></div>
                </div>

                <div id="renter-manager" class="col sidebar-right col-table">
                    <!-- Quản lý yêu cầu -->

                    <div id="request-manager" v-if="task == 2">
                        <div class="title">
                            <h1 class="title-name uppercase">Quản lý yêu cầu</h1>
                        </div>
                        <div class="information-detail">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên phòng trọ</th>
                                    <th scope="col">Phòng</th>
                                    <th scope="col">Ngày</th>
                                    <th scope="col">Tình trạng</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>





                                
                                <tr v-for="(rentalRequest, index) in listRentalRq">
                                    <th v-text="index + 1" scope="row"></th>
                                    <td v-text="rentalRequest.postTitle"></td>
                                    <td v-text="rentalRequest.roomName"></td>
                                    <td v-text="rentalRequest.requestDate"></td>
                                    <td v-text="rentalRequest.statusDisplay"></td>
                                    <td>
                                        <button @click="showModalCancelRequest(rentalRequest.id)" class="table-button">Hủy</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Danh sách yêu thích -->
                    <div id="wishlist-manager" v-if="task == 3">
                        <div class="title">
                            <h1 class="title-name uppercase">Danh sách yêu thích</h1>
                        </div>
                        <div class="information-detail">
                            <div class="post-wishlist" v-for="post in wishList" :key="wishList.id">
                                <div class="img-post-wishlist">
                                    <img v-bind:src="post.images[0]" alt=""/>
                                </div>
                                <div class="title-post-wishlist">
                                    <h3><a href="rooms.html" v-text="post.title"></a></h3>
                                    <div class="per-night">
                                        <span v-text="post.price + ' vnd'"> <span>/ tháng</span></span>
                                    </div>
                                    <i v-on:click="removeFromWishList(post.id)" class="fas fa-times-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="layout :: notification"></div>
                    <div th:replace="layout :: confirmModalFragment"></div>
                </div>
            </div>
        </div>
<!--    </div>-->
</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/profile-user.js}"></script>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/renter.js}"></script>
</body>
</html>