<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" th:href="@{custom-assets/css/profile.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Quản lý tài khoản</title>
</head>
<body>
<!--    include notification modal-->
<div th:replace="layout :: notification"></div>

<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>

<!--    include header-->
<header th:replace="layout :: header"></header>

    <main>
        <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-3 sidebar-left">
                    <div id="basic-user-info" class="avatar">
                        <i class="ti-user profile-avatar"></i>
                        <p v-text="userInfo.displayName" class="display-name overflow-dots"></p>
                        <p class="display-name" v-cloak>Số dư: {{userInfo.amount}} vnđ</p>
                    </div>
                    <div th:replace="layout :: user-task"></div>

                </div>
                <div class="col-3 note" id="note-wrapper" v-if="task == 13">
                    <div class="note-body">
                        <h4>Lưu ý khi đăng tin</h4>
                        <ul>
                            <li>Nội dung phải viết bằng tiếng Việt có dấu.</li>
                            <li>Tiêu đề tin không dài quá 100 kí tự.</li>
                            <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                            <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                            <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                        </ul>
                    </div>
                </div>
                <div id="user-manager-content" class="col-9 sidebar-right">
                    <!-- Thông tin tài khoản -->
                    <div th:replace="layout :: profile-user"></div>

                    <!-- Đổi mật khẩu -->
                    <div th:replace="layout :: change-password"></div>

                </div>

                <div id="landlord-manager" class="col-9 sidebar-right">
                    <!-- Đăng tin -->
                    <div v-if="task == 13" id="post-new-room">
                        <div class="title">
                            <h1 class="title-name uppercase">Đăng tin</h1>
                        </div>
                        <div class="container-fluid">
                            <div class="container">
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Loại phòng</h4>
                                    </div>
                                    <div class="form-dropdown input-information">
                                        <select class="rounded-pill border-0 shadow-sm">
                                            <option value="1">--- Loại Phòng ---</option>
                                            <option v-for="type in listTypePost" v-bind:value="type.id" v-text="type.name"></option>
<!--                                            <option value="3">Nhà nguyên căn</option>-->
<!--                                            <option value="4">Căn hộ</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Tiêu đề (ít hơn 100 ký tự)</h4>
                                    </div>
                                    <div class="input-information">
                                        <input type="text" class="form-input-title-information rounded-pill border-0 shadow-sm">
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Thông tin chi tiết</h4>
                                    </div>
                                    <div class="input-information">
                                        <textarea class="rounded-pill border-0 shadow-sm"></textarea>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Giá cho thuê</h4>
                                    </div>
                                    <div class="input-information">
                                        <input type="text" class="form-input-information half-width rounded-pill border-0 shadow-sm">
                                        <div class="input-group-append">
                                            <span>VNĐ</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Diện tích</h4>
                                    </div>
                                    <div class="input-information">
                                        <input type="text" class="form-input-information half-width rounded-pill border-0 shadow-sm">
                                        <div class="input-group-append">
                                            <span>M&sup2</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Khoảng cách (So với Đại Học FPT)</h4>
                                    </div>
                                    <div class="input-information">
                                        <input type="text" class="form-input-information half-width rounded-pill border-0 shadow-sm">
                                        <div class="input-group-append">
                                            <span>KM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Số lượng phòng:</h4>
                                    </div>
                                    <div class="input-information">
                                        <input type="text" class="form-input-information half-width rounded-pill border-0 shadow-sm">
                                        <div class="input-group-append">
                                            <span>PHÒNG</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Trạng thái các phòng:</h4>
                                    </div>
                                    <div class="input-information">
                                        <table class="table tbl-room">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Phòng</th>
                                                <th scope="col">Trạng thái</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <th scope="row">Phòng 1</th>
                                                <th scope="row">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <th scope="row">Phòng 2</th>
                                                <th scope="row">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <th scope="row">Phòng 3</th>
                                                <th scope="row">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <th scope="row">Phòng 4</th>
                                                <th scope="row">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <th scope="row">Phòng 5</th>
                                                <th scope="row">
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Hình ảnh (tối thiểu 3 hình, tối đa 10 hình)</h4>
                                    </div>
                                    <div class="input-information">
                                        <div class="upload-file" v-on:click="openFileDialog">
                                            <img class="upload-image" src="assets/img/logo/upload.png"/>
                                        </div>
                                        <input type="file" id="file-browse" style="display: none" multiple @change="processFile"/>
                                    </div>
                                    <div class="list-image input-information" v-show="uploadImages != undefined && uploadImages.length > 0">
                                        <div class="image-item" v-for="image in uploadImages">
                                            <div class="image">
                                                <img v-bind:src="image">
                                                <i class="fas fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Thời hạn bài đăng</h4>
                                    </div>
                                    <div class="input-information">
                                        <div class="form-check-inline" v-for="package in listPaymentPackage">
                                            <label class="radio-container">
                                                {{package.duration + ' tháng'}}
                                                <input type="radio" name="duration">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="fill-information">
                                    <div class="title">
                                        <h4>Thông tin thanh toán</h4>
                                    </div>
                                    <div class="input-information">
                                        <div id="table-checkout">
                                            <table>
                                                <tr>
                                                    <td>Thành tiền:</td>
                                                    <td class="money-col">95.000 VND</td>
                                                </tr>
                                                <tr>
                                                    <td>Tài khoản:</td>
                                                    <td class="money-col">100.000 VND</td>
                                                </tr>
                                                <tr>
                                                    <td>Số dư:</td>
                                                    <td class="money-col">5.000 VND</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <button class="btn-hover btn-complete">Hoàn thành</button>
                                <div class="title">
                                    <h4>Bảng giá tham khảo</h4>
                                </div>
                                <div id="table-price">
                                    <table class="table">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Gói</th>
                                            <th scope="col">Thời hạn</th>
                                            <th scope="col">Giá</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="package in listPaymentPackage">
                                            <th scope="row" v-text="'Gói ' + package.id"></th>
                                            <th scope="row" v-text="package.duration + ' Tháng'"></th>
                                            <th scope="row" v-text="package.amount + ' VND'"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Xử lý yêu cầu thuê trọ -->

<!--                <div class="col-9 sidebar-right">-->
<!--                    <div class="title">-->
<!--                        <h1 class="title-name uppercase">Xử lý yêu cầu thuê trọ</h1>-->
<!--                    </div>-->
<!--                    <div class="information-detail">-->
<!--                        <table class="table">-->
<!--                            <thead class="thead-light">-->
<!--                            <tr>-->
<!--                                <th scope="col">STT</th>-->
<!--                                <th scope="col">Tên đăng nhập</th>-->
<!--                                <th scope="col">Bài đăng</th>-->
<!--                                <th scope="col">Phòng</th>-->
<!--                                <th scope="col">Ngày</th>-->
<!--                                <th scope="col">Tình trạng</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th scope="row">1</th>-->
<!--                                <td>Oanhdtk</td>-->
<!--                                <td>abc-xyz</td>-->
<!--                                <td>R1</td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>-->
<!--                                    <button class="table-button">Đồng ý</button>-->
<!--                                    <button class="table-button">Từ chối</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td>Oanhdtk</td>-->
<!--                                <td>abc-xyz</td>-->
<!--                                <td>R2</td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>-->
<!--                                    <button class="table-button">Đồng ý</button>-->
<!--                                    <button class="table-button">Từ chối</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td>Oanhdtk</td>-->
<!--                                <td>abc-xyz</td>-->
<!--                                <td>R3</td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>-->
<!--                                    <button class="table-button">Đồng ý</button>-->
<!--                                    <button class="table-button">Từ chối</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- Quản lý bài đăng -->
<!--                <div class="col-9 sidebar-right">-->
<!--                    <div class="title">-->
<!--                        <h1 class="title-name uppercase">Quản lý bài đăng</h1>-->
<!--                    </div>-->
<!--                    <div class="information-detail">-->
<!--                        <table class="table">-->
<!--                            <thead class="thead-light">-->
<!--                            <tr>-->
<!--                                <th scope="col">STT</th>-->
<!--                                <th scope="col">Tên bài đăng</th>-->
<!--                                <th scope="col">Ngày đăng</th>-->
<!--                                <th scope="col">Ngày hết hạn</th>-->
<!--                                <th scope="col">Tình trạng</th>-->
<!--                                <th scope="col">Tác vụ</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th scope="row">1</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- Lịch sử nạp tiền -->
<!--                <div class="col-9 sidebar-right">-->
<!--                    <div class="title">-->
<!--                        <h1 class="title-name uppercase">lịch sử nạp tiền</h1>-->
<!--                    </div>-->
<!--                    <div class="information-detail">-->
<!--                        <table class="table">-->
<!--                            <thead class="thead-light">-->
<!--                            <tr>-->
<!--                                <th scope="col">STT</th>-->
<!--                                <th scope="col">Tên bài đăng</th>-->
<!--                                <th scope="col">Ngày đăng</th>-->
<!--                                <th scope="col">Ngày hết hạn</th>-->
<!--                                <th scope="col">Tình trạng</th>-->
<!--                                <th scope="col">Tác vụ</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th scope="row">1</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td><a href="#">abc-xyz</a></td>-->
<!--                                <td>14-6-2020</td>-->
<!--                                <td>14-9-2020</td>-->
<!--                                <td>Còn trống</td>-->
<!--                                <td>-->
<!--                                    <i class="fas fa-edit"></i>-->
<!--                                    <i class="fas fa-trash-alt"></i>-->
<!--                                    <i class="fas fa-eye-slash"></i>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
                </div>
            </div>
        </div>
    </main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>

<script type="text/javascript" th:src="@{/custom-assets/vue-js/profile-user.js}"></script>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/landlord.js}"></script>
</body>
</html>