<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <link rel="stylesheet" href="assets/css/forgot.css">
    <meta charset="UTF-8">
    <title>Lấy lại mật khẩu</title>
</head>
<body>
<header th:replace="layout :: header"></header>
<main>
    <div class="container-fluid ">
        <div class="forgot-area">
            <div class="form">

                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class=" p-3 mb-5 bg-white rounded form-title">
                        <i class="fas fa-arrow-left"></i>
                        <div class="form-header">
                            <div class="title uppercase">Nhập mật khẩu mới</div>
                        </div>
                    </div>
                    <form>
                        <input id="pass" class="reset-password" type="password" placeholder="Nhập mật khẩu" required />
                        <input id="confirm-pass" class="reset-password" type="password" placeholder="Nhập lại mật khẩu" required />
                        <button class="btn-continous uppercase">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
</body>
</html>