<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: head"></div>
    <title>Tìm Trọ FPTU</title>
    <link rel="stylesheet" type="text/css" th:href="@{/custom-assets/css/paging.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/custom-assets/css/type-room.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/custom-assets/vue-js/vue-cookies.js}" src="https://unpkg.com/vue-cookies@1.7.0/vue-cookies.js"></script>
</head>
<body>
<!--    include message modal-->
<div th:replace="layout :: message-modal"></div>
<!--    inlude loading screen-->
<div th:replace="layout :: loader"></div>
<!--    include header-->
<header th:replace="layout :: header"></header>

<main>
    <div class="container-fluid">
        <div class="container">
            <div class="title-search">
                <div class="row">
                    <div class="col-6">
                        <div class="title uppercase font-weight-bold">
                            phòng trọ
                        </div>
                    </div>
                    <div class="col-6">
                        <ul class="search">
                            <li class="search-type">
                                <div class="form-dropdown">
                                    <form action="#">
                                        <select v-model="postPrice">
                                            <option value="0">Giá</option>
                                            <option value="1">Dưới 1 triệu</option>
                                            <option value="3">1 triệu - 1.5 triệu</option>
                                            <option value="4"> 1.5 triệu - 2 triệu</option>
                                            <option value="5">2 triệu - 2.5 triệu</option>
                                            <option value="6">2.5 triệu - 3 triệu</option>
                                            <option value="7">3 triệu - 3.5 triệu</option>
                                            <option value="8">3.5 triệu - 4 triệu</option>
                                            <option value="9">4 triệu - 4.5 triệu</option>
                                            <option value="10">4.5 triệu - 5 triệu</option>
                                            <option value="11">Trên 5 triệu</option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                            <li class="search-type">
                                <div class="form-dropdown">
                                    <form action="#">
                                        <select v-model="postSquare">
                                            <option value="0">Diện tích</option>
                                            <option value="1">Dưới 20m&sup2</option>
                                            <option value="2">20m&sup2 - 30m&sup2</option>
                                            <option value="4">30m&sup2 - 40m&sup2</option>
                                            <option value="5">40m&sup2 - 50m&sup2</option>
                                            <option value="6">50m&sup2 - 60m&sup2</option>
                                            <option value="7">60m&sup2 - 70m&sup2</option>
                                            <option value="8">70m&sup2 - 80m&sup2</option>
                                            <option value="9">80m&sup2 - 90m&sup2</option>
                                            <option value="10">90m&sup2 - 100m&sup2</option>
                                            <option value="11">Trên 100m&sup2</option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                            <li class="search-type">
                                <div class="form-dropdown">
                                    <form action="#">
                                        <select v-model="postDistance">
                                            <option value="0">Khoảng cách</option>
                                            <option value="1">Dưới 1 km</option>
                                            <option value="3">1 km - 2 km</option>
                                            <option value="4">2 km - 3 km</option>
                                            <option value="5"> 3 km - 4 km</option>
                                            <option value="6">4 km - 5 km</option>
                                            <option value="7">Trên 5 km</option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="room-area">
                <div class="container" id="postPage">
                    <div class="row" id="row">
                        <div class="col-xl-4 col-lg-6 col-md-6" v-for="post in postList" v-bind:id="post.id">
                            <!-- Single Room -->
                            <div class="single-room mb-50">
                                <div class="room-img">
                                    <a v-bind:href="'/post-detail?id='+post.id"><img v-bind:src="post.images[0]" alt=""></a>
                                    <div v-if="userInfo == null || userInfo.role == 'RENTER'">
                                        <i v-bind:id="post.id" v-bind:class="post.inWishList ? 'fa' : 'far'" class="fa-2x fa-heart"  v-on:click="handleActionWishList(post)"></i>
                                    </div>
                                </div>
                                <div class="room-caption">
                                    <h3><a v-bind:href="'/post-detail?id='+post.id" v-text="post.title" data-toggle="tooltip" data-placement="bottom" v-bind:title="post.title"></a></h3>
                                    <div class="per-night">
                                        <span v-text="authenticationInstance.formatNumberToDisplay(post.price) + ' VNĐ/Tháng'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav v-if="page.totalPages != 1" class="form-group col-md-11 pagination-centered">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-link-container" v-bind:class="page.number === (n-1) ? 'active pointer-disabled':''" v-for="n in endPage">
                                <a class="page-link" v-bind:href="'/?page='+n" v-text="n"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--            modal notification-->
                    <div th:replace="layout :: notification"></div>

                </div>

            </section>
        </div>
    </div>
</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: js-fragment"></div>
<script type="text/javascript" th:src="@{/custom-assets/vue-js/post-all.js}"></script>
</body>
</html>